:root {
    --registerButtonBackgroundEnd: rgba(103,70,150,1);
    --buttonBorder: #474849;
    --categoryBackground: #0e1114;
    --buttonBackground: #121519;
    --subTextColor: #525355;
    --loginButtonBackground: #292c2f;
    --balanceBGColor: #424242;
    --mobileMenuLineBGColor: #232426;
    --footerTextColor: #fff;
    --shadowColor: rgba(131,55,214,1);
    --footerBorder: #4b4c4f;
    --footerCopyBackground: #9c9c9c;
    --iconBackground: #202225;
    --menuIconBackground: #0e1114;
    --footerDetailsBorder: #31373d;
    --menuIcons: url(/img/menu_icons.png);
    --backgroundDark: #16191e;
    --footerBackground: #0e1114;
    --alertBackground: #0e1114;
    --notificationShadow: rgb(185 134 255);
    --buttonHoverColor: #fff;
    --registerButtonBackgroundStart: rgba(130,97,166,1);
    --liveChatBackgroundEnd: rgba(130,97,166,1);
    --themeColor: #0e1114;
    --liveChatBackgroundStart: rgb(103,69,149);
    --generalTextColor: #f4f4f3;
    --sliderBackground: #282d35;
    --baseColor: #b986ff;
    --notificationTextColor: #8261a6;
    --smallIconColor: #131619;
    --casinoBackgroundColor: #0e1114;
}
