<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grand Casino | Fantezi Futbol'un Merkezi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/88bd62ac48.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=Protest+Guerrilla&amp;display=swap" rel="stylesheet">
    <style>

        #main-content-wrapper {
            width: 95%;
            float: right;
            margin-left: -70px
        }

        th, td {
            text-align: left;
            padding: 8px;
        }
        .promotion-image{
            width: 25%; display: inline-block; margin-left: 3%;
        }

        .competition-div{
            background-color: white; width: 72%; text-align: left; display: inline-block; float: left;
        }
        .kadro-mil {
            background-image: url('/static/km-fantasy-slider.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 64%;
            text-align: left;
            box-sizing: border-box;
            padding: 20px 50px;
            min-height: 300px;
            background-position: center;
            float: left;
            border-radius: 40px;
        }
        .slider-wrapper{
            background-color: #0f1012; border: 1px solid rgba(255, 255, 255, 0.3); border-radius: 40px; padding: 10px; overflow: auto; width: 90%; box-sizing: border-box;
        }

        .menu-main{
            width: 100%; box-sizing: border-box; height: 200px;
        }

        @media screen and (max-width: 800px) {
            #main-content-wrapper{
                width: 100%;
            }
            .slider-wrapper{
                border: none;
                background: transparent;
            }
            .menu-main{
                height: 100px;
            }
            .kadro-mil{
                border-radius: 0;
                width: 90%;
                height: 350px;
                background-size: cover;
            }
            .promotion-image {
                display: none;
            }
            #navbar-main{
                display: none;
            }

            .competition-div {
                width: 100%;
                float: none;
            }
        }

        @media screen and (max-width: 800px){
            .login-span{
                display: none;
            }
            .promotion-image{
                display: none;
            }
            .competition-div{
                width: 100%;
                float: none;
            }
        }

        #side-bar {
                display: block;
        }

        table{
            width: 80%;
        }

        @media screen and (max-width: 1400px) {
            .kadro-mil{
                min-height: fit-content;
                height: 320px;
                width: 100%;
                float: none;
            }
            #side-bar {
                display: none;
            }
            .promotion-img{
                display: none;
            }
            table{
                width: 80%;
                float: none;
                margin-left: 0;
                overflow-x: auto;
            }
            #promotion-img{
                display: none;
            }
        }

        tr:nth-child(even) {
            background-color: #22252a;
        }
    </style>
</head>
<body style="background-color: #191a1f; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif;">
    <div style="width: 100%;">
        <center style="padding: 20px 50px; background-color: orange; display: none;" id="promotion-insta">
            <span style="color: white; font-family: 'Open Sans', sans-serif; font-size: 16px; text-decoration: underline;" onclick="window.localStorage.setItem('hidePromotionInsta', 'true'); document.location = '/promotions/instagram';">Yatırımsız 500TL fırsatı!</span>
            <script>
                document.getElementById("promotion-insta").style.display = "none";
                if(window.localStorage.getItem("hidePromotionInsta") === 'true'){
                    document.getElementById("promotion-insta").style.display = "none";
                }
            </script>
        </center>
        <div class="menu-main">
            <img id="iconmain" src="/img/logo.png" alt="" style="width: 200px; padding: 20px; float: left">
    <script>
        if(window.innerWidth < window.innerHeight){
            document.getElementById("iconmain").style.width = "50px";
        }
    </script>
            <div style="float: left;" id="hid-mob">

            </div>
            <div style="float: right; margin-top: 40px;">
                {% if current_user.is_authenticated %}
                    <div style="background-color: #292d30; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -10px; float: right">
                        <span style="background-color: #212226; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box">₺</span>
                        <span id="balance" style="padding-right: 5px; padding-left: 5px">{{'%0.2f'| format(current_user.balance|float)}}</span>
                    </div>
                    <span onclick="refreshBalance()" style="margin-right: 25px; font-size: 2rem; float: right; color: white; margin-top: -13px">&#x21ba;</span>
                    <script>
                        function updateBalance(balance){
                            document.getElementById("balance").innerText = balance;
                        }
                        function refreshBalance(){
                            document.getElementById("balance").innerText = "..."
                            fetch("/refresh-balance")
                            .then(x => x.text())
                            .then(y => updateBalance(y));
                        }
                    </script>
                    <a href="/profile" style="color: dodgerblue; text-decoration: none; margin-right: 25px; float: right">
                        <img style="width: 25px" src="/static/profile.png" alt="">
                    </a>
                {% else %}

                    <div id="desktop-join">
                        <div onclick="document.location = '/login'"
                             style="background-color: #292d30; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 5px; margin-top: -20px; display: inline-block">
                            <span style="background-color: #212226; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box"><i
                                    class="fa-solid fa-right-to-bracket"></i></span>
                            <span class="login-span" style="padding-right: 5px; padding-left: 5px; font-size: 16px">Giriş Yap</span>
                        </div>
                        <div onclick="document.location = '/signup'"
                             style="background-color: #7b00ff; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -20px; display: inline-block">
                            <span style="background-color: #6000c0; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box"><i
                                    class="fa-solid fa-user-plus"></i></span>
                            <span class="login-span" style="padding-right: 5px; padding-left: 5px">Kayıt Ol</span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <script>
                if(window.innerHeight > window.innerWidth){
                    document.getElementById("hid-mob").style.display = "none";
                }
            </script>
            <div style="padding: 20px 50px; overflow-x: auto; float: left; white-space: nowrap; width: 100vw; background-color: #0f1012; box-sizing: border-box" id="navbar-main">
                <span style="display: inline-block; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/'">
                    Anasayfa
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="localStorage.clear(); window.location.reload()">
                    Kampanyalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=daily'">
                    Günlük Yarışmalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=weekly'">
                    Haftalık Yarışmalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=daily'">
                    Yüksek Limitli Yarışmalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=Premier-Lig'">
                    Premier Lig
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=Süper-Lig'">
                    Süper Lig
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=Bundesliga'">
                    Bundesliga
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=LaLiga'">
                    LaLiga
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/bahis'">
                    Bahis
                </span>
            </div>
        </div>
        <center style="width: 5%; margin-right: 1%; float: left; height: 600px; background: #0f1012; margin-left: 25px; border-radius: 15px; border: 1px solid rgba(255, 255, 255, .3)"
            id="side-bar">
        <div style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative" onclick="document.location = '/fantezi'">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-medal"></i>
            </div>
        </div>

        <div onclick="document.location = '/'" style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-house"></i>
            </div>
        </div>

        <div onclick="document.location = '/bahis'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative; background: #7b00ff">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-futbol"></i>
            </div>
        </div>

        <div onclick="document.location = '/casino'" style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-dice"></i>
            </div>
        </div>

        <div onclick="document.location = '/profile'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>

        <div onclick="document.location = '/logout'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
        </div>

        <div onclick="document.location = 'mailto:destek@m2betting.com'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: lawngreen; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>

        <div onclick="document.location = '/howtoplay'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-circle-info"></i>
            </div>
        </div>

    </center>
        <div id="main-content-wrapper">
        <center>
            <center>
    <center style="background-color: #0f1012; width: 87%; border-radius: 15px">

        <br>
        <h1 style="font-family: 'Open Sans', sans-serif; text-align: left; color: white; width: 80%; display: inline-block">Karşılaşmalar</h1>
        {% if canli_bahis %}
            <p onclick="document.location = '/bahis-mobile'" style="color: indianred; text-align: left; width: 80%; display: inline-block; margin-top: 0;">
                <span style="height: 10px; width: 10px; background-color: indianred; border-radius: 50%; display: inline-block;"></span>
                Canlı Bahis
            </p>
        {% else %}
            <p onclick="document.location = '/canli_bahis_mobile'" style="color: gray; text-align: left; width: 80%; display: inline-block; margin-top: 0;">
                <span style="height: 10px; width: 10px; background-color: gray; border-radius: 50%; display: inline-block;"></span>
                Canlı Bahis
            </p>
        {% endif %}
        <br>
        <input type="text" oninput="searchBet()" id="search-box" style="padding: 10px 15px; font-family: sans-serif; outline: none; font-size: 1rem; width: 80%; box-sizing: border-box;" placeholder="Bahis Ara">
        <br>
        <div style="margin-top: 10px">
            <div style="width: 80%; overflow-x: auto; white-space: nowrap">
                <div onclick="changeCategory('Futbol', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                    <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                        <i class="fa-solid fa-futbol"></i>
                        <br>
                        Futbol
                    </div>
                </div>
                <div onclick="changeCategory('Basketbol', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                    <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                        <i class="fa-solid fa-basketball"></i>
                        <br>
                        Basketbol
                    </div>
                </div>
                <div onclick="changeCategory('Voleybol', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                    <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                        <i class="fa-solid fa-volleyball"></i>
                        <br>
                        Voleybol
                    </div>
                </div>
                <div onclick="changeCategory('Tennis', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                    <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                        <i class="fa-solid fa-table-tennis-paddle-ball"></i>
                        <br>
                        Tennis
                    </div>
                </div>
                <div onclick="changeCategory('Kriket', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                    <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                        <i class="fa-solid fa-baseball-bat-ball"></i>
                        <br>
                        Kriket
                    </div>
                </div>
                <div onclick="changeCategory('Amerikan Futbolu', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                    <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                        <i class="fa-solid fa-football"></i>
                        <br>
                        NFL
                    </div>
                </div>
                <div onclick="changeCategory('Buz Hokeyi', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                    <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                        <i class="fa-solid fa-hockey-puck"></i>
                        <br>
                        Buz Hokeyi
                    </div>
                </div>
            <div onclick="changeCategory('Satranç', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                    <i class="fa-solid fa-chess-knight"></i>
                    <br>
                    Satranç
                </div>
            </div>
            <div onclick="changeCategory('Beyzbol', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                    <i class="fa-solid fa-baseball"></i>
                    <br>
                    Beyzbol
                </div>
            </div>
            <div onclick="changeCategory('Atletizm', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                    <i class="fa-solid fa-person-running"></i>
                    <br>
                    Atletizm
                </div>
            </div>
            <div onclick="changeCategory('Bowling', this)" class="sport-selector" style="display: inline-block; color: white; border: .2px solid white; box-sizing: border-box; height: 100px; width: 100px; position: relative">
                <div style="position: absolute; top: 0;  bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
                    <i class="fa-solid fa-bowling-ball"></i>
                    <br>
                    Bowling
                </div>
            </div>
            </div>
            <script>
                function changeCategory(sport, elem){
                    document.getElementById('search-box').value = sport;
                    searchBet();
                    let sport_selectors = document.getElementsByClassName("sport-selector")
                    for(let i = 0; i < sport_selectors.length; i++){
                        sport_selectors[i].style.backgroundColor = 'transparent'
                    }
                    elem.style.backgroundColor = '#7b00ff'
                }
            </script>

        </div>
      <br>
        <div style="width: 100%; overflow-x: auto; white-space: nowrap">
            <table>
                <tbody>

                    <tr style="color: white">
                        <th>Spor</th>
                        <th>Lig</th>
                        <th>Tarih/Saat</th>
                        <th>Maç Adı</th>
                        <th>Oranlar</th>
                    </tr>
                    {% for i in open_bets %}

                    {% if canli_bahis %}
                        {% if i.has_live_odds %}
                          <tr class="searchable-div" style="color: white;">
                            <td>{{ i.sport_readable }}</td>
                            <td>{{ i.match_league }}</td>
                            <td>{{i.bet_ending_datetime}}</td>
                            <td>{{ i.team_1 }} - {{ i.team_2 }}</td>
                            <td><a href="/bahis/mac/{{i.id}}" style="color: white;">Detaylar</a></td>
                          </tr>
                        {% endif %}
                    {% else %}
                        <tr class="searchable-div" style="color: white;">
                            <td>{{ i.sport_readable }}</td>
                            <td>{{ i.match_league }}</td>
                            <td>{{i.bet_ending_datetime}}</td>
                            <td>{{ i.team_1 }} - {{ i.team_2 }}</td>
                            <td><a href="/bahis/mac/{{i.id}}" style="color: white;">Detaylar</a></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <div style="background-color: #6a4898; position: fixed; bottom: 100px; right: 0; border-radius: 15px 0 0 15px; color: white; padding: 10px"  onclick="window.open('/coupon')">
                    Kuponum
                </div>

            <br style="clear: both">
            <br>
            <span style="opacity: 0">Grand Casino</span>
        </div>
    </center>
            </center>

            <div id="mobile-menu" style="position: fixed; bottom: 110px; left: 20px; display: none">
                <div onclick="document.location = '/fantezi'"
                     style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative; background: #292d30">
                    <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                </div>
                <div onclick="document.location = '/casino'"
                     style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative; background: #292d30">
                    <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                        <i class="fa-solid fa-dice"></i>
                    </div>
                </div>
            </div>
            <center id="mobile-home" style="color: white; position: fixed; bottom: 0; left: 0; width: 100%; background-color: #26292d; padding-top: 15px; box-sizing: border-box;" onclick="openMobileMenu()">
                <div onclick="document.location = '/bahis'" style="border-radius: 50px; background-color: transparent; display: inline-block; color: white; padding: 20px; width: fit-content; height: fit-content; font-size: 1rem">
                    <i class="fa-solid fa-futbol"></i>
                </div>
                <div onclick="document.location = '/fantezi'" style="border-radius: 50px; background-color: transparent; display: inline-block; color: white; padding: 20px; width: fit-content; height: fit-content; font-size: 1rem">
                    <i class="fa-solid fa-medal"></i>
                </div>
                <div onclick="document.location = '/'" style="border-radius: 50px; background-color: #6a4898; display: inline-block; color: white; padding: 20px; width: fit-content; height: fit-content; font-size: 1rem">
                    <i class="fa-solid fa-house"></i>
                </div>
                <div onclick="document.location = '/casino'" style="border-radius: 50px; background-color: transparent; display: inline-block; color: white; padding: 20px; width: fit-content; height: fit-content; font-size: 1rem">
                    <i class="fa-solid fa-dice"></i>
                </div>
                <div onclick="document.location = '/profile'" style="border-radius: 50px; background-color: transparent; display: inline-block; color: white; padding: 20px; width: fit-content; height: fit-content; font-size: 1rem">
                    <i class="fa-solid fa-user"></i>
                </div>
                <br>
                <br>
            </center>
    <script>
      function searchBet(){
            let search_query = document.getElementById("search-box").value;
            let searchable_divs = document.getElementsByClassName("searchable-div")
            for(let i = 0; i < searchable_divs.length; i++){
                if(search_query.length > 2){
                    if(!searchable_divs[i].innerHTML.includes(search_query)){
                        searchable_divs[i].style.display = "none";
                    }else{
                        searchable_divs[i].style.display = "table-row";
                    }
                }else{
                    searchable_divs[i].style.display = "table-row";
                }
            }
        }
    </script></center>
    <script>
        function openMobileMenu(){
            let mobile_menu = document.getElementById("mobile-menu");
            if(mobile_menu.style.display === "block"){
                mobile_menu.style.display = "none";
                document.getElementById("mobile-home").innerHTML = "<i class=\"fa-solid fa-bars\"></i>"
            }else{
                mobile_menu.style.display = "block"
                document.getElementById("mobile-home").innerHTML = "<i class=\"fa-solid fa-circle-chevron-down\"></i>"
            }
        }
        if (window.innerWidth < window.innerHeight) {
            document.getElementById("mobile-home").style.display = "block";
            document.getElementById("desktop-join").style.marginTop = "5px";
            document.getElementById("desktop-join").style += "; float: right; width: 300px; overflow-x: auto; white-space: nowrap; padding-top: 10px; margin-top: -13px"
        } else {
           document.getElementById("mobile-home").style.display = "none";
        }
    </script>
    </div></div>
</body>
</html>