<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KadroMilyon | Fantezi Futbol'un Merkezi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }
        .bet-odd{
            background-color: white;
        }
        .bet-odd:hover{
            background-color: #e0e0e0;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<body style="background-color: #222; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif">
    <center style="padding: 20px 50px; background-color: orange" id="promotion-insta">
        <span style="color: white; font-family: 'Protest Guerrilla', sans-serif; font-size: 16px; text-decoration: underline;" onclick="window.localStorage.setItem('hidePromotionInsta', 'true'); document.location = '/promotions/instagram';">Yatırımsız 500TL fırsatı!</span>
        <script>
            document.getElementById("promotion-insta").style.display = "none";
            if(window.localStorage.getItem("hidePromotionInsta") === 'true'){
                document.getElementById("promotion-insta").style.display = "none";
            }
        </script>
    </center>
    <div style="width: 100%; box-sizing: border-box; height: 220px; ">
        <img src="/static/kadromilyon.png" alt="" style="width: 200px; padding: 20px; float: left">
        <div style="float: left;" id="hid-mob">

        </div>
        <div style="float: right; margin-top: 50px;">
            {% if current_user.is_authenticated %}
                <div style="background-color: #292d30; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -10px; float: right">
                    <span style="background-color: #212226; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box">₺</span>
                    <span id="balance" style="padding-right: 5px; padding-left: 5px">{{'%0.2f'| format(current_user.balance|float)}}</span>
                </div>
                <span onclick="refreshBalance()" style="margin-right: 25px; font-size: 2rem; float: right; color: white; margin-top: -13px">&#x21ba;</span>
                <script>
                    function updateBalance(balance){
                        document.getElementById("balance").innerText = balance;
                    }
                    function refreshBalance(){
                        document.getElementById("balance").innerText = "..."
                        fetch("/refresh-balance")
                        .then(x => x.text())
                        .then(y => updateBalance(y));
                    }
                </script>
                <a href="/profile" style="color: dodgerblue; text-decoration: none; margin-right: 25px; float: right">
                    <img style="width: 25px" src="/profile.png" alt="">
                </a>
            {% else %}
                <a href="/login" style="color: white; text-decoration: none; margin-right: 25px;">Giriş Yap</a>
                <a href="/signup" style="color: dodgerblue; text-decoration: none; margin-right: 25px;">Üye Ol</a>
            {% endif %}
        </div>
        <script>
            if(window.innerHeight > window.innerWidth){
                document.getElementById("hid-mob").style.display = "none";
            }
        </script>
        <div style="padding: 20px 50px; overflow-x: auto; float: left; white-space: nowrap; width: 100vw; background-color: #333; box-sizing: border-box">
            <span style="display: inline-block; color: white" onclick="document.location = '/'">
                Anasayfa
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="localStorage.clear(); window.location.reload()">
                Kampanyalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=daily'">
                Günlük Yarışmalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=weekly'">
                Haftalık Yarışmalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=daily'">
                Yüksek Limitli Yarışmalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=Premier-Lig'">
                Premier Lig
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=Süper-Lig'">
                Süper Lig
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=Bundesliga'">
                Bundesliga
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=LaLiga'">
                LaLiga
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/bahis'">
                Bahis
            </span>
        </div>
    </div>

  <center>
    <div style="width: 80%; padding: 15px; text-align: left; color: white;">
      <h1 style="font-family: 'Protest Guerrilla', sans-serif">{{ open_bet.team_1 }} - {{ open_bet.team_2 }}</h1>
      {% for i in open_bet.bet_options %}
        <h1 style="font-family: 'Protest Guerrila', sans-serif">
          {{ i.game_name }}
        </h1>
        <p>
          {{ i.game_details }}
        </p>
        <div style="white-space: nowrap; overflow-x: auto;">
            {% for c in i.bet_odds %}

                {% if c.user_selected %}
                    <center style="border-radius: 5px; border-top: dodgerblue 15px solid; color: white; padding: 10px 20px; background-color: #ff4c59; width: fit-content; box-sizing: border-box; display: inline-block" class="bet-odd" onclick="document.location = '/remove_bet/{{c.id}}'">
                        <h2 style="font-family: 'Protest Guerrilla', sans-serif">{{ c.value }}</h2>
                        <p style="color: white">Oran: {{ c.odd }}</p>
                    </center>
                {% else %}
                    <center style="border-radius: 5px; border-top: dodgerblue 15px solid; color: gray; padding: 10px 20px; width: fit-content; box-sizing: border-box; display: inline-block" class="bet-odd" onclick="document.location = '/take_bet/{{c.id}}'">
                        <h2 style="font-family: 'Protest Guerrilla', sans-serif">{{ c.value }}</h2>
                        <p style="color: gray">Oran: {{ c.odd }}</p>
                    </center>
                {% endif %}
            {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div style="background-color: red; position: fixed; bottom: 50px; right: 0; border-radius: 15px 0 0 15px; color: white; padding: 10px" onclick="window.open('/coupon')">
        Kuponum
    </div>
  </center>
    <br>
    <span style="opacity: 0">KadroMilyon</span>
    <br>
    <span style="opacity: 0">KadroMilyon</span>
</body>
</html>