<!DOCTYPE HTML>
<html lang="tr-TR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Grand Casino</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/sportsbook.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/fontawesome.min.css" />
	<link rel="stylesheet" href="/plugins/owl/owl.carousel.min.css" />
	<link rel="stylesheet" href="/plugins/perfect-scrollbar/perfect-scrollbar.css" />
</head>
<body>
	<app-header>
		<app-home-header class="other-pages sticky-top">
			<div class="nav">
				<div class="logo"> <a href="/"> <img src="/img/logo.png" /> </a> </div>
				<div class="sportsbook-menu">
					<div class="menu">
						<a href="/" class="n-link"> <span>ANASAYFA</span> </a>
						<a href="/promotions" class="n-link"> <span>KAMPANYALAR</span> </a>
						<a href="/casino" class="n-link"> <span>CASINO</span> </a>
						<a href="/casino" class="n-link"> <span>CANLI CASINO</span> </a>
					</div>
				</div>
				<div class="rightmenu">
					{% if not current_user.is_authenticated %}
					<app-not-loggedin>
						<a href="/login" class="btn login-btn"> <i class="fa-solid fa-right-to-bracket"></i> Giriş Yap </a>
							<a href="/signup" class="btn register-btn"> <i class="fa-solid fa-user-plus"></i> Kayıt Ol </a>
						<div class="lang-select">
							<div class="view"> <img src="/img/flag/tr.png" /> TR <i class="fa-solid fa-chevron-down"></i> </div>
						</div>
						<div class="timer" id="timer">
							16:40:50
						</div>
						<script>
							function setTimer(){
								var d = new Date();
								var n = d.toLocaleTimeString();
								document.getElementById("timer").innerText = n;
							}
							setInterval(setTimer, 1000)
						</script>
						<a href="#." class="notification"> <i class="fa-solid fa-bell"></i> </a>
					</app-not-loggedin>
					{% else %}
					<app-loggedin>
						<a href="#." class="btn price-btn"> <i class="fa-solid fa-turkish-lira-sign"></i>
							{% if current_user.sports_bonus_balance + current_user.casino_bonus_balance > 0 %}
								<span style="display: inline-block; vertical-align: middle">
									<p style="font-size: 12px; margin-bottom: 0; margin-block-start: 0; margin-block-end: 0;">{{'%0.2f'| format(current_user.balance|float)}}</p>
									<p style="font-size: 8px; color: var(--baseColor); margin-top: 0; margin-bottom: 0; margin-block-start: 0; margin-block-end: 0">{{'%0.2f'| format(current_user.casino_bonus_balance + current_user.sports_bonus_balance |float)}}</p>
								</span>
							{% else %}
								{{'%0.2f'| format(current_user.balance|float)}}
							{% endif %}
						</a>
						<a href="/profile" class="btn setting-btn"> <i class="fa-solid fa-gear"></i> </a>
						<a href="/notifications" class="btn notification-btn"> <i class="fa-regular fa-bell"></i> <div class="counter">0</div> </a>
						<a href="/profile" class="btn profile-btn"> <img src="/img/profile-demo.png" /> </a>
					</app-loggedin>
					{% endif %}
				</div>
			</div>
		</app-home-header>
	</app-header>
	<app-content>
		<div class="sportsbook">
			<div class="c1">
				<div class="mobile-menu mobile-fast-menu">
					<div class="mobileSlider2 owl-carousel">

						<a href="/" class="ma-item"> ANASAYFA </a>
						{% if canli_bahis %}
							<a href="/canli_bahis" class="ma-item active"> CANLI BAHİSLER </a>
							<a href="/bahis" class="ma-item"> SPOR BAHİSLERİ </a>
						{% else %}
							<a href="/canli_bahis" class="ma-item"> CANLI BAHİSLER </a>
							<a href="/bahis" class="ma-item active"> SPOR BAHİSLERİ </a>
						{% endif %}
						<a href="#." class="ma-item"> SLOT OYUNLARI </a>
					</div>
				</div>
				<div class="match-find">
					<button class="searchbtn"> <i class="fa fa-search"></i> </button>
					<input onchange="document.location = `?search_q=${this.value}`" type="text" placeholder="Maçınızı bulun.." />
				</div>
				<div class="match-cont">
					<div class="match-cat">
						<div class="inpts">
							{% if canli_bahis %}
								<a href="/canli_bahis" class="active"> CANLI </a>
								<a href="/bahis"> SPOR BAHİSLERİ </a>
							{% else %}
								<a href="/canli_bahis"> CANLI </a>
								<a href="/bahis" class="active"> SPOR BAHİSLERİ </a>
							{% endif %}
						</div>
						<div class="allof">
							<span class="selector"> <i class="fa fa-clock"></i> TÜMÜ </span>
							<a href="#."> <img src="/img/logo.png" style="width: 50px;"> </a>
						</div>
						<div class="mobile-menu">
							<div class="mobileSlider owl-carousel">
								<a href="?sport=soccer" class="mm-item"> <span class="sb sb-soccer"></span> Futbol </a>
								<a href="?sport=basketball" class="mm-item"> <span class="sb sb-basket"></span> Basketbol </a>
								<a href="?sport=tennis" class="mm-item"> <span class="sb sb-tennis"></span> Tenis </a>
								<a href="?sport=volleyball" class="mm-item"> <span class="sb sb-volleyball"></span> Voleybol </a>
								<a href="?sport=cricket" class="mm-item"> <span class="sb sb-cricket"></span> Kriket </a>
							</div>
						</div>
						<div class="match-items desktop-menu">

							<div class="item">
								<div class="item-details">
										<span class="sb sb-soccer"></span> Futbol <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">

									{% for i in sports_and_leagues.soccer %}
										<div class="subitem">
											<a href="?league={{ i }}" style="background-color: var(--baseColor); overflow-x: auto; width: 200px; padding: 5px; border-radius: 5px; color: var(--generalTextColor)"> {{ i }} </a>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-basket"></span> Basketbol <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
									{% for i in sports_and_leagues.basketball %}
										<div class="subitem">
											<a href="?league={{ i }}" style="background-color: var(--baseColor); overflow-x: auto; width: 200px; padding: 5px; border-radius: 5px; color: var(--generalTextColor)"> {{ i }} </a>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-tennis"></span> Tenis <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
									{% for i in sports_and_leagues.tennis %}
										<div class="subitem">
											<a href="?league={{ i }}" style="background-color: var(--baseColor); overflow-x: auto; width: 200px; padding: 5px; border-radius: 5px; color: var(--generalTextColor)"> {{ i }} </a>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-volleyball"></span> Voleybol <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
									{% for i in sports_and_leagues.volleyball %}
										<div class="subitem">
											<a href="?league={{ i }}" style="background-color: var(--baseColor); overflow-x: auto; width: 200px; padding: 5px; border-radius: 5px; color: var(--generalTextColor)"> {{ i }} </a>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-icehockey"></span> Buz Hokeyi <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-pingpong"></span> Masa Tenisi <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-handball"></span> Hentbol <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-americanfootball"></span> Amerikan Futbolu <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
									{% for i in sports_and_leagues.american_football %}
										<div class="subitem">
											<a href="?league={{ i }}" style="background-color: var(--baseColor); overflow-x: auto; width: 200px; padding: 5px; border-radius: 5px; color: var(--generalTextColor)"> {{ i }} </a>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-australianfootball"></span> Avustralya Futbolu <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-cricket"></span> Kriket <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
									{% for i in sports_and_leagues.cricket %}
										<div class="subitem">
											<a href="?league={{ i }}" style="background-color: var(--baseColor); overflow-x: auto; width: 200px; padding: 5px; border-radius: 5px; color: var(--generalTextColor)"> {{ i }} </a>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-baseball"></span> Beyzbol <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-boxing"></span> Boks <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-eurovision"></span> Eurovision <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-badminton"></span> Badminton <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-beachfootball"></span> Plaj Futbolu <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-beachvolleyball"></span> Plaj Voleybolu <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-bowling"></span> Bowling <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>

							<div class="item">
								<div class="item-details">
										<span class="sb sb-chess"></span> Satranç <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-darts"></span> Dart <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
							<div class="item">
								<div class="item-details">
										<span class="sb sb-formula"></span> Formula <i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="subitem-cont" style="display:none">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="c2">
				<div class="c3">
					<div class="sbms">
						<a href="#." class="active"> Anasayfa </a>
						<a href="#."> Genel Görünüm </a>
					</div>
					<div class="rgmts">
						<a href="#."> <i class="fa-solid fa-calculator"></i> </a>
						<a href="#."> <i class="fa-solid fa-gear"></i> </a>
					</div>
				</div>
				<div class="c4" style="display:block">
					<div class="seTxs">
						<div class="sbms">
							{% if canli_bahis %}
							CANLI BAHİS
							{% else %}
							MAÇ ÖNCESİ BAHİS
							{% endif %}
						</div>
						<div class="rgmts">
							<button onclick="document.location = '?sport=soccer'"> <span class="sb sb-soccer"></span> </button>
							<button onclick="document.location = '?sport=basketball'"> <span class="sb sb-basket"></span> </button>
							<button onclick="document.location = '?sport=tennis'"> <span class="sb sb-tennis"></span> </button>
							<button onclick="document.location = '?sport=volleyball'"> <span class="sb sb-volleyball"></span> </button>
							<button onclick="document.location = '?sport=cricket'"> <span class="sb sb-cricket"></span> </button>
							<button onclick="document.location = '?sport=american_football'"> <span class="sb sb-americanfootball"></span> </button>
						</div>
					</div>
					<div class="matchlist">
						<div class="matchshead">
							<div class="item">
								<div class="score"></div>
								<div class="logo"></div>
								<div class="mtchdtls"></div>
								<div class="time">Zaman</div>
								<div class="oddsHead">
									<div class="odd odd1"> 1 </div>
									<div class="odd odd2"> X </div>
									<div class="odd odd3"> 2 </div>
								</div>
							</div>
						</div>
						<div class="matchs-cont">
							<div class="matchs">
								{% for i in open_bets %}
								<div class="item">
									<div class="p1">
										<div class="mtchdtls">
											<span class="match"> <a onclick="document.getElementById('iframe-betting-detail').src = '/bahis/mac/{{ i.id }}'" href="#."> {{ i.team_1 }} - {{ i.team_2 }} </a> </span>
											<span class="match-league"> {{ i.match_league }} </span>
										</div>
									</div>
									<div class="p2">
										<div class="time">
											<a href="#." class="info"> <i class="fa-solid fa-circle-info"></i> </a>
											<span class="timeText"> {{ i.bet_ending_datetime }} </span>
											<a href="#." class="watc"> <i class="fa-solid fa-display"></i> </a>
										</div>
										{% if i.who_wins_bet %}
											<div class="odds">
												<div class="odd odd1"> <span class="d-hide m-show c-f odd-text">1</span> <button style="min-width: fit-content"> {{ i.who_wins_bet.bet_odds.0.odd }} </button> </div>
												<div class="odd odd2"> <span class="d-hide m-show c-f odd-text">X</span> <button style="min-width: fit-content"> {{ i.who_wins_bet.bet_odds.1.odd }} </button> </div>
												<div class="odd odd3"> <span class="d-hide m-show c-f odd-text">2</span> <button style="min-width: fit-content"> {{ i.who_wins_bet.bet_odds.2.odd }} </button> </div>
											</div>
										{% endif %}
									</div>
								</div>
								{% endfor %}
								<br>
								<center>
									{% for i in number_of_chunks %}
										{% if offset == i %}
											<a href="?offset={{ i }}" style="color: var(--backgroundDark); background-color: var(--generalTextColor); border-radius: 5px; border: 1px solid var(--buttonBorder); padding: 5px 15px 5px 15px; box-sizing: border-box; display: inline-block">{{ i + 1 }}</a>
										{% else %}
											<a href="?offset={{ i }}" style="color: var(--generalTextColor); border-radius: 5px; border: 1px solid var(--buttonBorder); padding: 5px 15px 5px 15px; box-sizing: border-box; display: inline-block">{{ i + 1 }}</a>
										{% endif %}
									{% endfor %}
								</center>
								<br>
							</div>
						</div>
					</div>
				</div>
				<match-details class="match-details" style="display:none">
					<iframe src="" id="iframe-betting-detail" style="width: 100%; height: 100%; min-height: 50vh" frameborder="0"></iframe>
					<div style="display: none">
						<div class="firsdt-cont">
						<div class="firsdt">
							<div class="league">
								<span class="match-league"> Rusya Premier Lig </span>
							</div>
							<div class="match-details">
								<div class="date"> 29.04.2024, <b>22:00 Pazartesi</b> </div>
								<div class="teams">
									<div class="team-cont">
										<div class="team-name"> Athletic Bilbao </div>
									</div>
									<div class="teamvs"> VS </div>
									<div class="team-cont">
										<div class="team-name"> Granada </div>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div class="odds-cont">
						<div class="odds-opts">
							<div class="odds-sep">
								<div class="odds-list odd_betbuilder" style="display:none">
									<div class="odd-detail">
										<div class="odd-title"> Maç Sonucu </div>
										<div class="odds">
											<odd> <span>1</span> <button class="odd">1.41</button> </odd>
											<odd> <span>X</span> <button class="odd">4.05</button> </odd>
											<odd> <span>2</span> <button class="odd">11.8</button> </odd>
											<div class="betbuilder"> <a href="#."> <div class="bb"> <img src="/img/sportsbooks/bb.png"> </div> </a> </div>
										</div>
									</div>
								</div>
								<div class="odds-list odd_main">
									<div class="odd-detail">
										<div class="odd-title"> Maç Sonucu </div>
										<div class="odds">
											<odd> <span>1</span> <button class="odd">1.41</button> </odd>
											<odd> <span>X</span> <button class="odd">4.05</button> </odd>
											<odd> <span>2</span> <button class="odd">11.8</button> </odd>
											<odd> <span>1</span> <button class="odd">1.41</button> </odd>
											<odd> <span>X</span> <button class="odd">4.05</button> </odd>
											<odd> <span>2</span> <button class="odd">11.8</button> </odd>
											<odd> <span>1</span> <button class="odd">1.41</button> </odd>
											<odd> <span>X</span> <button class="odd">4.05</button> </odd>
											<odd> <span>2</span> <button class="odd">11.8</button> </odd>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</match-details>
			</div>
			<mybet class="mybet" style="min-height: fit-content">
				{% if current_user.is_authenticated %}
				<div onclick="document.getElementById('coupon-iframe').src = `/coupon?timestamp=${Date.now()}`" class="header">
				{% else %}
				<div onclick="document.location = `/login`" class="header">
				{% endif %}
					Bahis Kuponu
				</div>
				<iframe id="coupon-iframe" style="height: 100%; min-width: 100%; min-height: 250px;" src="/coupon" frameborder="0"></iframe>
				<div style="display: none" class="bets">
					<empty-bet style="display:none">
						<p>Bahis Kuponu Boş</p>
						<span>Lütfen bahis yapmak istediğiniz etkinlikleri ekleyiniz.</span>
					</empty-bet>
					<playable-bet>
						<div class="bet-options">
							<button class="singlebet"> TEKLİ </button>
							<button class="combinedbet active"> KOMBİNE </button>
							<button class="systembet"> SİSTEM </button>
						</div>
						<div class="matchs">
							<div class="match">
								<div class="t">
									<div class="icon"> <span class="sb sb-soccer"></span> </div>
									<div class="matchName"> Bayer Leverkusen <span>vs</span> Augsburg </div>
									<div class="close"> <i class="fa-solid fa-xmark"></i> </div>
								</div>
								<div class="b">
									<div class="betDetails"> Maç Sonucu 1X2: <b>1</b> </div>
									<div class="betratio"> 1.30 </div>
								</div>
							</div>
							<div class="match">
								<div class="t">
									<div class="icon"> <span class="sb sb-soccer"></span> </div>
									<div class="matchName"> Borussia Dortmund <span>vs</span> Darmstadt 98 </div>
									<div class="close"> <i class="fa-solid fa-xmark"></i> </div>
								</div>
								<div class="b">
									<div class="betDetails"> Maç Sonucu 1X2: <b>2</b> </div>
									<div class="betratio"> 13.00 </div>
								</div>
							</div>
						</div>
						<div class="settings">
							<button class="removeAll"> <i class="fa-solid fa-trash-can"></i> Tümünü Kaldırın </button>
							<div class="total"> Toplam Oran: <span>16.64</span> </div>
						</div>
						<div class="result">
							<div class="result-cont">
								<div class="titler"> Bahis Miktarı </div>
								<div class="totalText"> <p>Toplam Kazanç</p> <span class="amount">1.664</span><i class="fa-solid fa-turkish-lira-sign"></i> </div>
							</div>
						</div>
					</playable-bet>
				</div>
			</mybet>
		</div>
	</app-footer>
	<app-mobilemenu>
		<fast-menu class="page-sportsbook">
			<div class="area">
				<div class="info"> <a href="#."> <img src="/img/mobilemenu/i1.png" /> </a> </div>
				<div class="line"></div>
				<div class="livechat"> <a href="#."> <img src="/img/mobilemenu/i2.png" /> </a> </div>
				{% if current_user.is_authenticated %}
					<div onclick="document.getElementById('coupon-iframe').src = `/coupon?timestamp=${Date.now()}`" class="mybet-chart"> <a href="#."> <i class="fa-solid fa-futbol"></i> </a> </div>
				{% else %}
					<div onclick="document.location = '/login'" class="mybet-chart"> <a href="#."> <i class="fa-solid fa-futbol"></i> </a> </div>
				{% endif %}
			</div>
			<div class="mobile-menu">
				<a href="/fantezi"> <img src="/img/mobilemenu/i7.png" /> <span>Fantezi Futbol</span> </a>
				<a href="/bahis"> <img src="/img/mobilemenu/i4.png" /> <span>Spor</span> </a>
				<a href='/'> <img src="/img/mobilemenu/i3.png" /> <span>Anasayfa</span> </a>
				<a href="/canli_bahis"> <img src="/img/mobilemenu/i5.png" /> <span>Canlı Bahis</span> </a>
				<a href="/casino"> <img src="/img/mobilemenu/i6.png" /> <span>Casino</span> </a>
			</div>
		</fast-menu>
	</app-mobilemenu>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/plugins/owl/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/plugins/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/sportsbook.js"></script>
</body>
</html>