<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grand Casino | Fantezi Futbol'un Merkezi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/88bd62ac48.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=Protest+Guerrilla&amp;display=swap" rel="stylesheet">
    <style>

        #main-content-wrapper {
            width: 95%;
            float: right;
            margin-left: -70px
        }

        th, td {
            text-align: left;
            padding: 8px;
        }
        .bet-odd{
            color: lime;
        }
        .promotion-image{
            width: 25%; display: inline-block; margin-left: 3%;
        }

        .competition-div{
            background-color: white; width: 72%; text-align: left; display: inline-block; float: left;
        }
        .kadro-mil {
            background-image: url('/static/km-fantasy-slider.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 64%;
            text-align: left;
            box-sizing: border-box;
            padding: 20px 50px;
            min-height: 300px;
            background-position: center;
            float: left;
            border-radius: 40px;
        }
        .slider-wrapper{
            background-color: #0f1012; border: 1px solid rgba(255, 255, 255, 0.3); border-radius: 40px; padding: 10px; overflow: auto; width: 90%; box-sizing: border-box;
        }

        .menu-main{
            width: 100%; box-sizing: border-box; height: 200px;
        }

        @media screen and (max-width: 800px) {
            #main-content-wrapper{
                width: 100%;
            }
            .slider-wrapper{
                border: none;
                background: transparent;
            }
            .menu-main{
                height: 100px;
            }
            .kadro-mil{
                border-radius: 0;
                width: 90%;
                height: 350px;
                background-size: cover;
            }
            .promotion-image {
                display: none;
            }
            #navbar-main{
                display: none;
            }

            .competition-div {
                width: 100%;
                float: none;
            }
        }

        @media screen and (max-width: 800px){
            .login-span{
                display: none;
            }
            .promotion-image{
                display: none;
            }
            .competition-div{
                width: 100%;
                float: none;
            }
        }

        #side-bar {
                display: block;
        }

        table{
            width: 80%;
        }

        @media screen and (max-width: 1400px) {
            .kadro-mil{
                min-height: fit-content;
                height: 320px;
                width: 100%;
                float: none;
            }
            #side-bar {
                display: none;
            }
            .promotion-img{
                display: none;
            }
            table{
                width: 80%;
                float: none;
                margin-left: 0;
                overflow-x: auto;
            }
            #promotion-img{
                display: none;
            }
        }

        tr:nth-child(even) {
            background-color: #22252a;
        }
    </style>
</head>
<body style="background-color: #191a1f; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif;">
    <div style="width: 100%;">
        <center style="padding: 20px 50px; background-color: orange; display: none;" id="promotion-insta">
            <span style="color: white; font-family: 'Open Sans', sans-serif; font-size: 16px; text-decoration: underline;" onclick="window.localStorage.setItem('hidePromotionInsta', 'true'); document.location = '/promotions/instagram';">Yatırımsız 500TL fırsatı!</span>
            <script>
                document.getElementById("promotion-insta").style.display = "none";
                if(window.localStorage.getItem("hidePromotionInsta") === 'true'){
                    document.getElementById("promotion-insta").style.display = "none";
                }
            </script>
        </center>
        <div class="menu-main">
            <img id="iconmain" src="/img/logo.png" alt="" style="width: 200px; padding: 20px; float: left">
    <script>
        if(window.innerWidth < window.innerHeight){
            document.getElementById("iconmain").style.width = "50px";
        }
    </script>
            <div style="float: left;" id="hid-mob">

            </div>
            <div style="float: right; margin-top: 40px;">
                {% if current_user.is_authenticated %}
                    <div style="background-color: #292d30; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -10px; float: right">
                        <span style="background-color: #212226; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box">₺</span>
                        <span id="balance" style="padding-right: 5px; padding-left: 5px">{{'%0.2f'| format(current_user.balance|float)}}</span>
                    </div>
                    <span onclick="refreshBalance()" style="margin-right: 25px; font-size: 2rem; float: right; color: white; margin-top: -13px">&#x21ba;</span>
                    <script>
                        function updateBalance(balance){
                            document.getElementById("balance").innerText = balance;
                        }
                        function refreshBalance(){
                            document.getElementById("balance").innerText = "..."
                            fetch("/refresh-balance")
                            .then(x => x.text())
                            .then(y => updateBalance(y));
                        }
                    </script>
                    <a href="/profile" style="color: dodgerblue; text-decoration: none; margin-right: 25px; float: right">
                        <img style="width: 25px" src="/static/profile.png" alt="">
                    </a>
                {% else %}

                    <div id="desktop-join">
                        <div onclick="document.location = '/login'"
                             style="background-color: #292d30; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 5px; margin-top: -20px; display: inline-block">
                            <span style="background-color: #212226; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box"><i
                                    class="fa-solid fa-right-to-bracket"></i></span>
                            <span class="login-span" style="padding-right: 5px; padding-left: 5px; font-size: 16px">Giriş Yap</span>
                        </div>
                        <div onclick="document.location = '/signup'"
                             style="background-color: #7b00ff; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -20px; display: inline-block">
                            <span style="background-color: #6000c0; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box"><i
                                    class="fa-solid fa-user-plus"></i></span>
                            <span class="login-span" style="padding-right: 5px; padding-left: 5px">Kayıt Ol</span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <script>
                if(window.innerHeight > window.innerWidth){
                    document.getElementById("hid-mob").style.display = "none";
                }
            </script>
            <div style="padding: 20px 50px; overflow-x: auto; float: left; white-space: nowrap; width: 100vw; background-color: #0f1012; box-sizing: border-box" id="navbar-main">
                <span style="display: inline-block; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/'">
                    Anasayfa
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="localStorage.clear(); window.location.reload()">
                    Kampanyalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=daily'">
                    Günlük Yarışmalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=weekly'">
                    Haftalık Yarışmalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=daily'">
                    Yüksek Limitli Yarışmalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=Premier-Lig'">
                    Premier Lig
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=Süper-Lig'">
                    Süper Lig
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=Bundesliga'">
                    Bundesliga
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=LaLiga'">
                    LaLiga
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/bahis'">
                    Bahis
                </span>
            </div>
        </div>
        <center style="width: 5%; margin-right: 1%; float: left; height: 600px; background: #0f1012; margin-left: 25px; border-radius: 15px; border: 1px solid rgba(255, 255, 255, .3)"
            id="side-bar">
        <div style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative" onclick="document.location = '/fantezi'">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-medal"></i>
            </div>
        </div>

        <div onclick="document.location = '/'" style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-house"></i>
            </div>
        </div>

        <div onclick="document.location = '/bahis'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative; background: #7b00ff">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-futbol"></i>
            </div>
        </div>

        <div onclick="document.location = '/casino'" style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-dice"></i>
            </div>
        </div>

        <div onclick="document.location = '/profile'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>

        <div onclick="document.location = '/logout'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
        </div>

        <div onclick="document.location = 'mailto:destek@m2betting.com'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: lawngreen; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>

        <div onclick="document.location = '/howtoplay'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-circle-info"></i>
            </div>
        </div>

    </center>
        <center id="main-content-wrapper">
    <center style="background-color: #0f1012; width: 87%; border-radius: 15px">

        <br>
        <h1 style="font-family: 'Open Sans', sans-serif; text-align: left; color: white; width: 80%">Kuponum</h1>
        <div style="text-align: left; margin-left: 10%; color: white">
            <h2>
            <br>
            {% if current_user.freebet %}
                {% if current_user.freebet > 0 %}
                Freebet: <span style="color: limegreen">{{ current_user.freebet }}</span><span style="display: inline-block; vertical-align: top; font-size: 8px; color: limegreen">TRY</span>
              <br>
                {% endif %}
              {% endif %}
              Toplam Oran: <span style="color: limegreen" id="money-spent">{{ '%0.2f'| format(current_coupon.total_odd) }}</span>
              <br>
              Toplam Kazanç: <span style="color: limegreen" id="total_prize">0</span><span style="display: inline-block; vertical-align: top; font-size: 8px; color: limegreen">TRY</span>
          </h2>
        </div>
      <br>
        <div style="width: 100%; overflow-x: auto; white-space: nowrap; color: white">
            <table>
                <tbody>

                    <tr style="color: white">
                        <th>Olay</th>
                        <th>Maç</th>
                        <th>Oran</th>
                        <th>Seçilen</th>
                    </tr>
                    {% for i in current_coupon.odd_options %}
                      <tr class="searchable-div" style="color: white;">
                        <td>{{ i.bet_option.game_name }}</td>
                        <td>{{i.bet_option.match_name}}</td>
                        {% if i.id in changed_odds %}
                            <td class="bet-odd">{{ i.odd }}</td>
                          {% else %}
                            <td>{{ i.odd }}</td>
                          {% endif %}
                          <td>{{ i.value }}</td>
                        <td onclick="document.location = '/remove_bet/{{ i.id }}'">X</td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br style="clear: both">
            <div style="background-color: black; box-shadow: rgba(109, 107, 105, 0.2) 0px 8px 24px; position: absolute; bottom: 120px; box-sizing: border-box; color: white; right: 0; display: none;" id="bet-added">
                <div style="margin: 15px">
                    Oranlar Güncellendi
                </div>

                <div id="bet-added-loadbar" style="background-color: #7b00ff; width: 100%; height: 2px; float: right"></div>
            </div>
          <div style="text-align: left">
                  <form method="post" enctype="multipart/form-data"><input type="text" id="coupon-val" name="coupon_value" oninput="calculateTotalPrize()" style="padding: 10px 15px; font-family: sans-serif; outline: none; font-size: 1rem; width: 80%; box-sizing: border-box; margin-left: 10%" placeholder="Kupon Tutarı"><span style="color: white; margin-left: 5px">₺</span>
                  <br>
                  <br>
              <button style="color: white; font-family: sans-serif; width: 40%; padding: 10px; box-sizing: border-box; background-color: dodgerblue; outline: none; border: none; margin-left: 10%">Oyna</button>
              </form>
          </div>
            <script>
                function betAdded(){
                            document.getElementById("bet-added").style.display = "none";
                        }
            </script>
                  <script>
                       let decreaseInterval = setInterval(decreaseBetAddedLoadbar, 30)
                        function decreaseBetAddedLoadbar(){
                            if(parseInt(document.getElementById("bet-added-loadbar").style.width.replace("%", "")) === 0){
                                clearInterval(decreaseInterval);
                            }
                            document.getElementById("bet-added-loadbar").style.width = parseInt(document.getElementById("bet-added-loadbar").style.width.replace("%", "")) - 1 + "%"
                        }

                       {% if odds_did_change %}
                           document.getElementById("bet-added").style.display = "block";
                            setTimeout(betAdded, 3000)
                       {% endif %}
                      setTimeout(updateBetOddStyle, 500)
                      function updateBetOddStyle(){
                          let betOdds = document.getElementsByClassName("bet-odd")
                          for(let i = 0; i < betOdds.length; i++){
                              betOdds[i].style.color = "white";
                          }
                      }
                      function calculateTotalPrize(){
                          if(isNaN(document.getElementById('coupon-val').value)){
                            document.getElementById("total_prize").innerText = 0;
                            return;
                          }

                          document.getElementById("total_prize").innerText = parseFloat(parseFloat(document.getElementById('coupon-val').value) * {{ '%0.2f'| format(current_coupon.total_odd) }}).toFixed(2)
                      }
                  </script>
                </tbody>
            </table>

            <br style="clear: both">
            <br>
            <span style="opacity: 0">Grand Casino</span>
        </div>
    </center>
            </center>
    <div style="background-color: #6a4898; position: fixed; bottom: 50px; right: 0; border-radius: 15px 0 0 15px; color: white; padding: 10px"  onclick="window.open('/coupon')">
        Kuponum
    </div>
            <div id="mobile-menu" style="position: fixed; bottom: 110px; left: 20px; display: none">
                <div onclick="document.location = '/'"
                     style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative; background: transparent">
                    <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                </div>
                <div onclick="document.location = '/casino'"
                     style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative; background: transparent">
                    <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                        <i class="fa-solid fa-dice"></i>
                    </div>
                </div>
            </div></center>
    <script>
        function openMobileMenu(){
            let mobile_menu = document.getElementById("mobile-menu");
            if(mobile_menu.style.display === "block"){
                mobile_menu.style.display = "none";
                document.getElementById("mobile-home").innerHTML = "<i class=\"fa-solid fa-bars\"></i>"
            }else{
                mobile_menu.style.display = "block"
                document.getElementById("mobile-home").innerHTML = "<i class=\"fa-solid fa-circle-chevron-down\"></i>"
            }
        }
        if (window.innerWidth < window.innerHeight) {
            document.getElementById("mobile-home").style.display = "block";
            document.getElementById("desktop-join").style.marginTop = "5px";
            document.getElementById("desktop-join").style += "; float: right; width: 300px; overflow-x: auto; white-space: nowrap; padding-top: 10px; margin-top: -13px"
        } else {
           document.getElementById("mobile-home").style.display = "none";
        }
    </script>
    </center></div>
</body>
</html>