<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  <style>

  @import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

  @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

  </style>
</head>
<body>

<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
                <img style="height: 20px" src="https://kadromilyon.com/static/m2-entLogo.png" alt="...">
            </a>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item" onclick="document.location = '/admin/home'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-house"></i> Gösterge Paneli
                        </a>
                    </li>
                    <li class="nav-item" onclick="document.location = '/admin/finance'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-bar-chart"></i> İşlemler
                        </a>
                    </li>
                    <li class="nav-item" onclick="document.location = '/admin/games'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-dice-5-fill"></i> Oyun İşlemleri
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/players">
                            <i class="bi bi-person-bounding-box"></i> Oyuncular
                        </a>
                    </li>
                    <li class="nav-item" onclick="document.location = '/admin/bonuses'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-bookmarks"></i> Bonuslar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/cms">
                            <i class="bi bi-people"></i> CMS
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="navbar-divider my-5 opacity-20">
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-4">

                <!-- Push content down -->
                <div class="mt-auto"></div>
                <!-- User (md) -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-square"></i> Kullanıcı Ayarları
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-box-arrow-left"></i> Çıkış
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">Admin Paneli</h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-6 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-pencil"></i>
                                    </span>
                                    <span>Canlı Destek Talepleri</span>
                                </a>
                                <a href="/admin/users" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Panel Kullanıcısı Ekle</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav -->
                    <ul class="nav nav-tabs mt-4 overflow-x border-0">
                        <li class="nav-item ">
                            <a href="#" class="nav-link active">Dün</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-regular">Son 7 Gün</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link font-regular">Son 30 Gün</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <!-- Card stats -->
                <div class="row g-6 mb-6">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body" onclick="document.location = '/admin/finance'">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Yatırımlar</span>
                                        <span class="h3 font-bold mb-0">₺{{ total_deposits }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                            <i class="bi bi-credit-card"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-primary text-primary me-2">
                                        {{ total_deposits_percentage_change }}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Geçmiş Döneme Kıyasla</span>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body" onclick="document.location = '/admin/players'">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Oyuncu Bakiyesi</span>
                                        <span class="h3 font-bold mb-0">₺{{ total_balance }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                            <i class="bi bi-credit-card"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-secondary text-secondary me-2">
                                        -
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Geçmiş Döneme Kıyasla</span>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body" onclick="document.location = '/admin/players'">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Giriş Yapan Oyuncular</span>
                                        <span class="h3 font-bold mb-0">{{ logged_in_users }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                            <i class="bi bi-people"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-primary text-primary me-2">
                                        {{ logged_in_users_percentage_change }}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Geçmiş Döneme Kıyasla</span>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Toplam Oyuncu Sayısı</span>
                                        <span class="h3 font-bold mb-0">{{ total_users }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                            <i class="bi bi-people"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-primary text-primary me-2">
                                        {{ total_users_percentage_change }}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Geçmiş Döneme Kıyasla</span>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Toplam Para Çekmeler</span>
                                        <span class="h3 font-bold mb-0">₺{{ total_withdrawals }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                            <i class="bi bi-credit-card"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-primary text-primary me-2">
                                        {{ total_withdrawals_percentage_change }}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Geçmiş Döneme Kıyasla</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Yeni Kayıtlar</span>
                                        <span class="h3 font-bold mb-0">{{ new_signups }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                            <i class="bi bi-people"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-secondary text-secondary me-2">
                                        -
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Geçmiş Döneme Kıyasla</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">GGR</span>
                                        <span class="h3 font-bold mb-0">₺{{ ggr }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                                            <i class="bi bi-clock-history"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-primary text-primary me-2">
                                        {{ggr_percentage_change}}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Geçmiş Döneme Kıyasla</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Toplam Bahis</span>
                                        <span class="h3 font-bold mb-0">₺{{ total_bet }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
                                            <i class="bi bi-minecart-loaded"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-primary text-primary me-2">
                                        {{ total_bet_percentage_change }}%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Düne Kıyasla</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Yatırım/Çekim Talepleri</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">İsim</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Oyuncu ID</th>
                                    <th scope="col">Kullanıcı Adı</th>
                                    <th scope="col">Çekim Yapılacak Hesap(Çekim için)</th>
                                    <th scope="col">Yöntem</th>
                                    <th scope="col">Tutar</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in deposit_requests %}
                                    <tr>
                                        <td>
                                            <a class="text-heading font-semibold" href="/admin/user_details?user_id={{ i.user.id }}">
                                                {{ i.user.username }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ i.transaction_date }}
                                        </td>
                                        <td>
                                            <a class="text-heading font-semibold" href="/admin/user_details?user_id={{ i.user.id }}">
                                                {{ i.user.id }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ i.user.username }}
                                        </td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            {{ i.payment_channel }}
                                        </td>
                                        <td>
                                            ₺{{ i.transaction_amount }} (Yatırım)
                                        </td>
                                        <td class="text-end">
                                            <a href="/admin/complete_deposit?transaction_id={{ i.id }}" class="btn btn-sm btn-neutral">Tamamla</a>
                                            <a href="/admin/cancel_deposit?transaction_id={{ i.id }}" class="btn btn-sm btn-neutral">İptal Et</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for i in withdrawal_requests %}
                                    <tr>
                                        <td>

                                            <a class="text-heading font-semibold" href="/admin/user_details?user_id={{ i.user.id }}">
                                                {{ i.user.username }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ i.request_date }}
                                        </td>
                                        <td>
                                            <a class="text-heading font-semibold" href="/admin/user_details?user_id={{ i.user.id }}">
                                                {{ i.user.id }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ i.user.username }}
                                        </td>
                                        <td>
                                            {{ i.withdraw_to }}
                                        </td>
                                        <td>
                                            {{ i.withdraw_type }}
                                        </td>
                                        <td>
                                            ₺{{ i.withdrawal_amount }} (Çekim)
                                        </td>

                                        <td class="text-end">
                                            <a href="/admin/update/withdraw?withdraw_request_id={{ i.id }}&update_to=Tamamlandı" class="btn btn-sm btn-neutral">Onayla</a>
                                            <a href="/admin/update/withdraw?withdraw_request_id={{ i.id }}&update_to=Reddedildi" class="btn btn-sm btn-neutral">Reddet</a>
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm">Talepler Bitti</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>