<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>M2 Entertainment</title>
  <style>

  @import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

  @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

  </style>
</head>
<body>

<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
                <img style="height: 20px" src="https://kadromilyon.com/static/m2-entLogo.png" alt="...">
            </a>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item" onclick="document.location = '/admin/home'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-house"></i> Gösterge Paneli
                        </a>
                    </li>
                    <li class="nav-item" onclick="document.location = '/admin/finance'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-bar-chart"></i> İşlemler
                        </a>
                    </li>
                    <li class="nav-item" onclick="document.location = '/admin/games'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-dice-5-fill"></i> Oyun İşlemleri
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/players">
                            <i class="bi bi-person-bounding-box"></i> Oyuncular

                        </a>
                    </li>
                    <li class="nav-item" onclick="document.location = '/admin/bonuses'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-bookmarks"></i> Bonuslar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/cms">
                            <i class="bi bi-people"></i> CMS
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="navbar-divider my-5 opacity-20">
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-4">

                <!-- Push content down -->
                <div class="mt-auto"></div>
                <!-- User (md) -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-square"></i> Kullanıcı Ayarları
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-box-arrow-left"></i> Çıkış
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">Admin Paneli</h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-6 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-pencil"></i>
                                    </span>
                                    <span>Ara</span>
                                </a>
                                <a href="/admin/users" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Panel Kullanıcısı Ekle</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav -->
                    <br>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
              <div class="row g-6 mb-6">
                      <div class="col-xl-3 col-sm-6 col-12" style="width: 100vw">
                              <div class="card shadow border-0" style="display: inline-block; width: 80vw; margin-top: 25px">
                                  <div class="card-body">
                                    <div style="float: left; width: 45%">
                                      Kullanıcı Adı: {{ user.username }}
                                      <br>
                                      İsim: {{ user.user_information.name }}
                                      <br>
                                      E-Posta: {{ user.email }}
                                      <br>
                                      Doğum Günü: {{ user.user_information.date_of_birth }}
                                      <br>
                                      Kayıt Tarihi: {{ user.registration_date }}
                                      <br>
                                      Son Giriş: {{ user.last_login }}
                                      <br>
                                      Adres: {{ user.user_information.address }}
                                      <br>
                                      Bakiyesi:
                                        <form id="balance-form" method="post" enctype="multipart/form-data"><input type="text" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none" value="{{ user.balance }}" onchange="document.getElementById('balance-form').submit()" name="balance"></form>
                                      <br>
                                      En Son Para Yatırma: {{ user.get_last('yatirim') }}
                                        <br>
                                        Toplam Para Yatırma: {{ user.get_total_volume("yatirim") }}
                                        <br>
                                        Toplam Spor Bahisi: {{ user.get_total_volume("place_bet") }}
                                        <br>
                                        Toplam Casino Bahisi: {{ user.get_total_volume("casino_bet") }}
                                      <br>
                                      <br>
                                        İşlemler
                                      <div class="table-responsive">
                                          <table class="table table-hover table-nowrap">
                                              <thead class="thead-light">
                                                  <tr>
                                                      <th scope="col">İşlem Türü</th>
                                                      <th scope="col">Kullanıcı Adı</th>
                                                      <th scope="col">Tutar</th>
                                                      <th scope="col">Başlangıç Zamanı</th>
                                                      <th scope="col">Bitiş Zamanı</th>
                                                      <th scope="col">Müşteri ID</th>
                                                      <th scope="col">Kanal</th>
                                                      <th scope="col">IP Adresi</th>
                                                      <th scope="col">Affiliate ID</th>
                                                      <th scope="col">Not</th>
                                                      <th scope="col">Statü</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  {% for i in transactions %}
                                                      <tr class="searchable-div">
                                                      <td>
                                                          <a class="text-heading font-semibold" href="#">
                                                              {{ i.transaction_type }}
                                                          </a>
                                                      </td>
                                                      <td>
                                                          <a class="text-heading font-semibold" href="#">
                                                              {{ i.user.username }}
                                                          </a>
                                                      </td>
                                                      <td>
                                                          <a class="text-heading font-semibold" href="#">
                                                              {{ i.transaction_amount }}₺
                                                          </a>
                                                      </td>
                                                      <td>
                                                          <a class="text-heading font-semibold" href="#">
                                                              {{ i.transaction_date }}
                                                          </a>
                                                      </td>
                                                      <td>
                                                          <a class="text-heading font-semibold" href="#">
                                                              {{ i.transaction_date }}
                                                          </a>
                                                      </td>
                                                      <td>
                                                          <a class="text-heading font-semibold" href="#">
                                                              {{ i.user.id }}
                                                          </a>
                                                      </td>
                                                      <td>

                                                          <a class="text-heading font-semibold" href="#">
                                                              {{ i.payment_unique_number }}
                                                          </a>
                                                      </td>
                                                      <td>
                                                          -
                                                      </td>
                                                      <td>
                                                          <a class="text-heading font-semibold" href="#">
                                                              {{ i.user.referred_by }}
                                                          </a>
                                                      </td>
                                                      <td>
                                                          -
                                                      </td>
                                                      <td>
                                                          {{ i.transaction_status }}
                                                      </td>
                                                  </tr>
                                                  {% endfor %}
                                              </tbody>
                                          </table>
                                      </div>
                                    </div>
                                    <div style="float: left; width: 45%; margin-left: 5%">
                                      Durum: Aktif
                                      <br>
                                      Kimlik Onayı: {{ user.user_information.id_verified }}
                                      <br>
                                      Telefon Numarası: {{ user.user_information.tel_no }}
                                      <br>
                                      IP Adresi: {{ user.ip_address }} (Bu IP Adresine Sahip Kullanıcı Sayısı: {{ number_of_users_with_same_ip }})
                                        <a href="/admin/players?user_ip={{user.ip_address}}" style="color: dodgerblue;">İncele</a>
                                      <br>
                                      Notlar:
                                        <br>
                                        <form method="post" id="notes_form" enctype="multipart/form-data">
                                            <textarea name="notes" onchange="document.getElementById('notes_form').submit()" style="border: 1px solid grey; outline: none">{{ user.notes }}</textarea>
                                        </form>
                                      Affiliate: {{ user.referred_by }}
                                      <br>
                                      Bonus Bakiyesi | Spor: {{ user.sports_bonus_balance }} Casino {{ user.casino_bonus_balance }}₺
                                        <br>
                                        <form method="post" id="bonus_form" enctype="multipart/form-data">
                                        <select name="bonus_id" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none" onchange="document.getElementById('bonus_form').submit()">
                                            <option value="">Oyuncu Adına Bonus Talep Et</option>
                                            {% for i in available_bonuses %}
                                            <option value="{{ i.id }}">{{ i.bonus_name }}</option>
                                            {% endfor %}
                                        </select>
                                        </form>
                                      <br>
                                      En Son Para Çekme: {{ user.get_last("çekim") }}
                                        <br>
                                        Toplam Para Çekme: {{ user.get_total_volume("çekim") }}
                                      <br>
                                      <br>
                                        Bonus Talepleri
                                    <div class="table-responsive">
                                      <table class="table table-hover table-nowrap">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Bonus Adı</th>
                                                <th scope="col">Kullanıcı Id</th>
                                                <th scope="col">Kullanıcı Adı</th>
                                                <th scope="col">Bonus Id</th>
                                                <th scope="col">Bonus Durumu</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in bonus_requests %}
                                                <tr>
                                                <td>
                                                    <a class="text-heading font-semibold" href="#">
                                                        {{ i.bonus.bonus_name }}
                                                    </a>
                                                </td>
                                                <td>

                                                    <a class="text-heading font-semibold" href="#">
                                                        {{ i.user_fk }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{ i.user.username }}
                                                </td>
                                                <td>
                                                    {{ i.status }}
                                                </td>
                                                <td>
                                                    <a class="text-heading font-semibold" href="#">
                                                        {{ i.bonus.id }}
                                                    </a>
                                                </td>
                                                <td class="text-end">
                                                    {% if i.status == "Talep Edildi" %}
                                                        <a href="#" class="btn btn-sm btn-neutral" onclick="document.location = '/admin/accept_bonus_request?bonus_id={{ i.id }}'">Kabul Et</a>
                                                        <button onclick="document.location = '/admin/decline_bonus_request?bonus_id={{ i.id }}'" type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                                            X
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                        Kuponları
                                    <div class="table-responsive">
                                      <table class="table table-hover table-nowrap">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Bahis Miktarı</th>
                                                <th scope="col">Durum</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in coupons %}
                                                <tr>
                                                <td>
                                                    {{ i.total_value }}
                                                </td>
                                                <td>
                                                    {{ i.status }}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                        <br>


                                    </div>
                                  </div>
                              </div>
                      </div>
              </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
