<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>M2 Entertainment</title>
  <style>

  @import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

  @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

  </style>
</head>
<body>

<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
                <img style="height: 20px" src="https://kadromilyon.com/static/m2-entLogo.png" alt="...">
            </a>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item" onclick="document.location = '/admin/home'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-house"></i> Gösterge Paneli
                        </a>
                    </li>
                    <li class="nav-item" onclick="document.location = '/admin/finance'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-bar-chart"></i> İşlemler
                        </a>
                    </li>
                    <li class="nav-item" onclick="document.location = '/admin/games'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-dice-5-fill"></i> Oyun İşlemleri
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/players">
                            <i class="bi bi-person-bounding-box"></i> Oyuncular

                        </a>
                    </li>
                    <li class="nav-item" onclick="document.location = '/admin/bonuses'">
                        <a class="nav-link" href="#">
                            <i class="bi bi-bookmarks"></i> Bonuslar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/cms">
                            <i class="bi bi-people"></i> CMS
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="navbar-divider my-5 opacity-20">
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-4">

                <!-- Push content down -->
                <div class="mt-auto"></div>
                <!-- User (md) -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-square"></i> Kullanıcı Ayarları
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-box-arrow-left"></i> Çıkış
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">Admin Paneli</h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-6 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-pencil"></i>
                                    </span>
                                    <span>Ara</span>
                                </a>
                                <a href="/admin/affiliate" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bg-info-subtle"></i>
                                    </span>
                                    <span>Affiliate Paneli</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav -->
                    <br>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
            <div class="row g-6 mb-6">
                    <div class="col-xl-3 col-sm-6 col-12" style="width: 100vw">
                            <div class="card shadow border-0" style="display: inline-block; width: 80vw; margin-top: 25px">
                                <div class="card-body">
                                    <div class="row">
                                        <form class="col" method="post" enctype="multipart/form-data">
                                            <h1 class="h3 font-bold mb-0">Kullanıcı Ekle</h1>
                                          <br>
                                          <select name="user_permission" onchange="document.getElementById(this.value).style.display = 'block';" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none">
                                            <option value="select-type">Kullanıcı Sınıfı</option>
                                            {% for i in permissions %}
                                                <option value="{{ i.id }}">{{ i.permission_name }}</option>
                                              {% endfor %}
                                              <option value="affiliate">Affiliate</option>
                                            <option value="new-class">Yeni Sınıf</option>
                                          </select>
                                            <br>
                                              <br>
                                            <div id="affiliate" style="display: none">
                                                <input type="text" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none" name="affiliate_commission_percentage" placeholder="Komisyon Oranı %">
                                                <input type="text" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none" name="affiliate_cpa" placeholder="CPA ₺">
                                            </div>

                                            <br>
                                            <br>

                                          <div id="new-class" style="display: none">
                                              <input type="text" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none" name="permission_name" placeholder="Kullanıcı Sınıfı İsmi">
                                              <br>
                                              <br>
                                              <h3>Erişim İzinleri</h3>
                                              <br>
                                              <div style="margin-left: 20px; display: inline-block">
                                                  <input name="permissions_providers" type="checkbox"> Oyun İşlemleri
                                              </div>
                                              <div style="margin-left: 20px; display: inline-block">
                                                  <input name="permissions_partnerships" type="checkbox"> Kasa İşlemleri
                                              </div>
                                              <div style="margin-left: 20px; display: inline-block">
                                                  <input name="permissions_cms" type="checkbox"> CMS
                                              </div>
                                              <div style="margin-left: 20px; display: inline-block">
                                                  <input name="permissions_general" type="checkbox"> Site Özeti
                                              </div>
                                              <div style="margin-left: 20px; display: inline-block">
                                                  <input name="permissions_add_users" type="checkbox"> Admin Kullanıcısı Ekleme/Çıkartma
                                              </div>
                                              <div style="margin-left: 20px; display: inline-block">
                                                  <input name="permissions_transactions" type="checkbox"> Loglar
                                              </div>
                                              <div style="margin-left: 20px; display: inline-block">
                                                  <input name="permissions_deposit_methods" type="checkbox"> Yatırım/Çekim Metotları
                                              </div>
                                              <div style="margin-left: 20px; display: inline-block; margin-top: 10px">
                                                  <input name="permissions_players" type="checkbox"> Oyuncular
                                              </div>
                                              <div style="margin-left: 20px; display: inline-block; margin-top: 10px">
                                                  <input name="permissions_bonuses" type="checkbox"> Bonuslar
                                              </div>
                                              <br>
                                              <br>
                                          </div>
                                              <input type="text" name="username" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none" placeholder="Kullanıcı Adı">
                                              <input name="password" type="password" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none" placeholder="Şifre">
                                              <input type="password" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none" placeholder="Şifre Tekrar">
                                              <br>
                                              <br>
                                              <textarea style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none; min-width: 70vw" placeholder="Not"></textarea>
                                              <br>
                                              <div style="display: block">
                                                  <input type="submit" placeholder="" style="-webkit-appearance: none; border: 1px solid gray; padding: 5px; border-radius: 5px; outline: none; min-width: 200px; background: #1e7bf2; color: white" value="Kaydet">
                                                </div>
                                    </form>
                                      <br>
                                      <br>
                    <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Mevcut Kullanıcılar</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Kullanıcı ID</th>
                                    <th scope="col">Kullanıcı Adı</th>
                                    <th scope="col">Yönetici İzinleri</th>
                                    <th scope="col">Not</th>
                                    <th scope="col">Panel Dili</th>
                                    <th scope="col">Son Giriş</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in admin_users %}
                                <tr>
                                    <td>
                                        <a class="text-heading font-semibold" href="#">
                                            {{ i.id }}
                                        </a>
                                    </td>
                                    <td>

                                        <a class="text-heading font-semibold" href="#">
                                            {{ i.email }}
                                        </a>
                                    </td>
                                    <td>
                                        -
                                    </td>
                                    <td>
                                        <a class="text-heading font-semibold" href="#">
                                            {{ i.permission_name }}
                                        </a>
                                    </td>
                                    <td>
                                        Türkçe
                                    </td>
                                    <td>
                                        {{ i.last_login }}
                                    </td>
                                    <td class="text-end">
                                        <a href="#" class="btn btn-sm btn-neutral">Detaylar</a>
                                        <button  onclick="document.location = '/admin/remove_user?user_id={{ i.id }}'" type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm">{{ admin_users  | length }} Kullanıcı Mevcut</span>
                    </div>
                </div>
                                    </div>
                                </div>
                            </div>

                    </div>
            </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
