<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <title>Banka - KadroMilyon</title>
</head>
<body style="background-color: #222; overflow: hidden">
  <img id="iconmain" src="/img/logo.png" alt="" style="width: 200px; padding: 20px; float: left">
  <script>
            if(window.innerWidth < window.innerHeight){
                document.getElementById("iconmain").style.width = "50px";
            }
        </script>
  <form method="post" enctype="multipart/form-data" style="color: white; padding: 20px; box-sizing: border-box; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
    <h1 style="color: white; font-family: 'Open Sans', sans-serif">
      Para Yatır
    </h1>
      <p style="font-family: 'Open Sans', sans-serif">Minimum: 100₺</p>
    <label for="transaction_amount" style="font-family: sans-serif; font-size: 12px">Yatırmak istediğin tutar</label>
    <br>
    <input id="transaction_amount" name="transaction_amount" type="text" style="width: 300px; max-width: 80vw; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
    <br>
    <br>
    <label for="name" style="font-family: sans-serif; font-size: 12px">İsim Soyad</label>
    <br>
    <input id="name" name="name" type="text" style="width: 300px; max-width: 80vw; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
    <br>
    <br>
    <button style="color: white; max-width: 80vw; font-family: sans-serif; width: 300px; padding: 10px; box-sizing: border-box; background-color: dodgerblue; outline: none; border: none">Para Yatır</button>
  </form>
</body>
</html>