<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>KadroMilyon</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/sportsbook.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/fontawesome.min.css" />
	<link rel="stylesheet" href="/plugins/owl/owl.carousel.min.css" />
	<link rel="stylesheet" href="/plugins/perfect-scrollbar/perfect-scrollbar.css" />
</head>
<body>
  <mybet class="mybet">
				<div class="header">
					Bahis Kuponu <span>(0)</span>
				</div>
				<div class="bets">
					<empty-bet style="display:none">
						<p>Bahis Kuponu Boş</p>
						<span>Lütfen bahis yapmak istediğiniz etkinlikleri ekleyiniz.</span>
					</empty-bet>
					<playable-bet>
						<div class="bet-options">
							<button class="singlebet"> TEKLİ </button>
							<button class="combinedbet active"> KOMBİNE </button>
							<button class="systembet"> SİSTEM </button>
						</div>
						<div class="matchs">
							<div class="match">
								<div class="t">
									<div class="icon"> <span class="sb sb-soccer"></span> </div>
									<div class="matchName"> Bayer Leverkusen <span>vs</span> Augsburg </div>
									<div class="close"> <i class="fa-solid fa-xmark"></i> </div>
								</div>
								<div class="b">
									<div class="betDetails"> Maç Sonucu 1X2: <b>1</b> </div>
									<div class="betratio"> 1.30 </div>
								</div>
							</div>
							<div class="match">
								<div class="t">
									<div class="icon"> <span class="sb sb-soccer"></span> </div>
									<div class="matchName"> Borussia Dortmund <span>vs</span> Darmstadt 98 </div>
									<div class="close"> <i class="fa-solid fa-xmark"></i> </div>
								</div>
								<div class="b">
									<div class="betDetails"> Maç Sonucu 1X2: <b>2</b> </div>
									<div class="betratio"> 13.00 </div>
								</div>
							</div>
						</div>
						<div class="settings">
							<button class="removeAll"> <i class="fa-solid fa-trash-can"></i> Tümünü Kaldırın </button>
							<div class="total"> Toplam Oran: <span>16.64</span> </div>
						</div>
						<div class="result">
							<div class="result-cont">
								<div class="titler"> Bahis Miktarı </div>
								<div class="totalText"> <p>Toplam Kazanç</p> <span class="amount">1.664</span><i class="fa-solid fa-turkish-lira-sign"></i> </div>
							</div>
						</div>
					</playable-bet>
				</div>
			</mybet>
</body>
</html>