<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grand Casino | Fantezi Futbol'un Merkezi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/88bd62ac48.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=Protest+Guerrilla&amp;display=swap"
          rel="stylesheet">
    <script>
        var url_string = window.location;
        var url = new URL(url_string);
        var c = url.searchParams.get("desktop");
        if(window.innerWidth < window.innerHeight && !c){
            document.location = window.location+"?desktop=true&mobile=true"
        }else{
            {% if not desktop %}
            window.location = window.location + "?desktop=true"
            {% endif %}
        }
    </script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            background-color: transparent;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        .menu-main{
            width: 100%; box-sizing: border-box; height: 200px;
        }

        .slider-wrapper{
            background-color: #0f1012; border: 1px solid rgba(255, 255, 255, 0.3); border-radius: 40px; padding: 10px; overflow: auto; width: 90%; box-sizing: border-box
        }

        .promotion-image {
            width: 25%;
            display: inline-block;
            margin-left: 3%;
        }

        .competition-div {
            background-color: white;
            width: 72%;
            text-align: left;
            display: inline-block;
            float: left;
        }

        .kadro-mil {
            background-image: url('/static/km-fantasy-slider.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 64%;
            text-align: left;
            box-sizing: border-box;
            padding: 20px 50px;
            min-height: 300px;
            background-position: center;
            float: left;
            border-radius: 40px;
        }

        #main-content-wrapper {
            width: 95%;
            float: right;
            margin-left: -70px
        }

        .play-select{
            width: 30px; height: 30px; border-radius: 100px; background: #6802d5; position: absolute; top:0; bottom: 0; right: 10px; margin: auto;
        }

        .select-wrapper{
            display: inline-block; border-radius: 15px; box-sizing: content-box; background-size: cover; padding: 5px; padding-bottom: 20px; position:relative; width: 250px
        }

        .picture-select{
            height: 250px; width: 200px;  background-image: url('/static/km-popular1.jpg'); background-position: center; background-size: cover; border-radius: 15px
        }

        #side-bar {
            display: block;
        }

        @media screen and (max-width: 800px) {
            .login-span{
                display: none;
            }
            .play-select{
                width: 30px;
                height: 30px;
                bottom: 0;
                right: 10px;
            }
            .picture-select{
                height: 150px;
                width: 100px;
            }
            .select-wrapper{
                width: 150px
            }
            .slider-wrapper{
                border: none;
                background: transparent;
            }
            .menu-main{
                height: 100px;
            }
            .kadro-mil{
                border-radius: 0;
                width: 90%;
                height: 350px;
                background-size: cover;
            }
            .promotion-image {
                display: none;
            }
            #navbar-main{
                display: none;
            }

            .competition-div {
                width: 100%;
                float: none;
            }
        }


        @media screen and (max-width: 1400px) {
            #main-content-wrapper {
                width: 100%;
                float: none;
                margin-left: 0;
            }

            #side-bar {
                display: none;
            }

            .kadro-mil {
                min-height: fit-content;
                height: 320px;
                width: 100%;
            }

            #promotion-img {
                display: none;
            }
        }

        tr:nth-child(even) {
            background-color: #22252a;
        }
        .searchable-div:nth-child(even) {
            background-color: #22252a;
        }
    </style>
</head>
<body style="background-color: #191a1f; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif;">
<div style="width: 100%;">
    <center style="padding: 20px 50px; background-color: orange; display: none;" id="promotion-insta">
        <span style="color: white; font-family: 'Open Sans', sans-serif; font-size: 16px; text-decoration: underline;"
              onclick="window.localStorage.setItem('hidePromotionInsta', 'true'); document.location = '/promotions/instagram';">Yatırımsız 500TL fırsatı!</span>
        <script>
            document.getElementById("promotion-insta").style.display = "none";
            if (window.localStorage.getItem("hidePromotionInsta") === 'true') {
                document.getElementById("promotion-insta").style.display = "none";
            }
        </script>
    </center>
    <div class="menu-main">
        <img id="iconmain" src="/img/logo.png" alt="" style="width: 200px; padding: 20px; float: left">
        <script>
            if(window.innerWidth < window.innerHeight){
                document.getElementById("iconmain").style.width = "50px";
            }
        </script>
        <div style="float: left;" id="hid-mob">

        </div>
        <div style="float: right; margin-top: 40px;">
            {% if current_user.is_authenticated %}
            <div style="background-color: #292d30; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -10px; float: right">
                <span style="background-color: #212226; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box">₺</span>
                <span id="balance" style="padding-right: 5px; padding-left: 5px">{{'%0.2f'| format(current_user.balance|float)}}</span>
            </div>
            <span onclick="refreshBalance()"
                  style="margin-right: 25px; font-size: 2rem; float: right; color: white; margin-top: -13px">&#x21ba;</span>
            <script>
                function updateBalance(balance) {
                    document.getElementById("balance").innerText = balance;
                }

                function refreshBalance() {
                    document.getElementById("balance").innerText = "..."
                    fetch("/refresh-balance")
                        .then(x => x.text())
                        .then(y => updateBalance(y));
                }
            </script>
            <a href="/profile" style="color: dodgerblue; text-decoration: none; margin-right: 25px; float: right">
                <img style="width: 25px" src="/static/profile.png" alt="">
            </a>
            {% else %}
            <div id="desktop-join">
                <div onclick="document.location = '/login'"
                     style="background-color: #292d30; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 5px; margin-top: -20px; display: inline-block">
                    <span style="background-color: #212226; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box"><i
                            class="fa-solid fa-right-to-bracket"></i></span>
                    <span class="login-span" style="padding-right: 5px; padding-left: 5px; font-size: 16px">Giriş Yap</span>
                </div>
                <div onclick="document.location = '/signup'"
                     style="background-color: #7b00ff; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -20px; display: inline-block">
                    <span style="background-color: #6000c0; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box"><i
                            class="fa-solid fa-user-plus"></i></span>
                    <span class="login-span" style="padding-right: 5px; padding-left: 5px">Kayıt Ol</span>
                </div>
            </div>
            {% endif %}
        </div>
        <script>
            if (window.innerHeight > window.innerWidth) {
                document.getElementById("hid-mob").style.display = "none";
            }
        </script>
        <div style="padding: 20px 50px; overflow-x: auto; float: left; white-space: nowrap; width: 100vw; background-color: #0f1012; box-sizing: border-box" id="navbar-main">
                <span style="display: inline-block; color: white; font-family: 'Open Sans', sans-serif"
                      onclick="document.location = '/'">
                    Anasayfa
                </span>
            <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif"
                  onclick="localStorage.clear(); window.location.reload()">
                    Kampanyalar
                </span>
            <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif"
                  onclick="document.location = '/?filter_q=daily'">
                    Günlük Yarışmalar
                </span>
            <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif"
                  onclick="document.location = '/?filter_q=weekly'">
                    Haftalık Yarışmalar
                </span>
            <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif"
                  onclick="document.location = '/?filter_q=daily'">
                    Yüksek Limitli Yarışmalar
                </span>
            <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif"
                  onclick="document.location = '/?filter_q=Premier-Lig'">
                    Premier Lig
                </span>
            <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif"
                  onclick="document.location = '/?filter_q=Süper-Lig'">
                    Süper Lig
                </span>
            <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif"
                  onclick="document.location = '/?filter_q=Bundesliga'">
                    Bundesliga
                </span>
            <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif"
                  onclick="document.location = '/?filter_q=LaLiga'">
                    LaLiga
                </span>


            {% if not current_user.is_authenticated %}
            <span style="display: inline-block; margin-left: 50px; font-family: 'Open Sans', sans-serif; color: dodgerblue;"
                  class="hid-desktop"
                  onclick="document.location = '/login'">
                        Giriş Yap
                    </span>

            <span style="display: inline-block; margin-left: 50px; color: #7b00ff; font-family: 'Open Sans', sans-serif;"
                  class="hid-desktop"
                  onclick="document.location = '/signup'">
                        Kayıt Ol
                    </span>
            {% endif %}

        </div>
    </div>
    <center style="width: 5%; margin-right: 1%; float: left; height: 600px; background: #0f1012; margin-left: 25px; border-radius: 15px; border: 1px solid rgba(255, 255, 255, .3)"
            id="side-bar">
        <div style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative" onclick="document.location = '/fantezi'">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-medal"></i>
            </div>
        </div>

        <div style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-house"></i>
            </div>
        </div>

        <div onclick="document.location = '/bahis'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-futbol"></i>
            </div>
        </div>

        <div onclick="document.location = '/casino'" style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-dice"></i>
            </div>
        </div>

        <div onclick="document.location = '/profile'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>

        <div onclick="document.location = '/logout'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 40px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
        </div>

        <div onclick="document.location = 'mailto:destek@m2betting.com'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: lawngreen; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>

        <div onclick="document.location = '/howtoplay'"
             style="border: 1px solid rgba(255, 255, 255, .3); border-radius: 15px; width: 50px; height: 50px; margin-top: 10px; color: white; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: fit-content; width: fit-content">
                <i class="fa-solid fa-circle-info"></i>
            </div>
        </div>

    </center>
    <div id="main-content-wrapper">

    <center>
        <div style="width: 80%; white-space: nowrap; overflow-x: auto;">
            <h1 style="font-family: 'Open Sans', sans-serif; color: white; margin-top: 5px; display: inline-block; position: relative;">Kadronu Seç</h1>
            <br>
            <h3 style="font-family: 'Open Sans', sans-serif; color: white; display: inline-block; margin-left: 15px; position: relative;"><span style="font-size: 12px">Kalan Bütçe: </span> <span style="color: limegreen" id="remaining-budget">50.000</span><span style="display: inline-block; vertical-align: top; font-size: 8px; color: limegreen">TRY</span></h3>
            <h3 style="font-family: 'Open Sans', sans-serif; color: white; display: inline-block; margin-left: 15px; position: relative;"><span style="font-size: 12px">Kadro Maliyeti: </span> <span style="color: red" id="money-spent">0</span><span style="display: inline-block; vertical-align: top; font-size: 8px; color: red">TRY</span></h3>

        </div>
        <br style="clear: both">
        <div style="background-color: #0f1012; border-radius: 15px; border: 1px solid rgba(255, 255, 255, 0.3); width: 80%; height: fit-content; text-align: left; padding: 25px; box-sizing: border-box; min-height: fit-content">
            <div style="background-color: #7b00ff; border-radius: 15px 15px 0 0; width: 100%; padding: 20px; color: white; box-sizing: border-box; margin-top: 10px;">
                Seçilen Oyuncular
                <span style="float: right; color: white; text-decoration: underline" onclick="resetDraft()">Sıfırla</span>
                {% if not desktop %}
                    <!-- <span style="float: right; color: white; margin-right: 15px" onclick="document.location = document.location + '?desktop=true'">Liste Görünümüne Geç</span> -->
                {% else %}
                    <!-- <span style="float: right; color: white; margin-right: 15px" onclick="document.location = '/draft/{{competition.id}}'" id="position-view">Kadro Görünümüne Geç</span> -->
                    <!-- <script>
                        if(window.innerWidth < window.innerHeight){
                            document.getElementById("position-view").style.display = 'none';
                        }
                    </script> -->
                {% endif %}

            </div>
            {% if not desktop %}
                <form enctype="multipart/form-data" method="post" style="background-image: url('/static/saha2.jpg'); background-size: cover; background-position: center 0;">
                    <center style="height: fit-content">

                        <center id="draft-div-0" onclick="last_choice = 0; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-0" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-0">Oyuncu - 1</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-0">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-0">
                                    <span id="athlete-cost-0"></span>₺
                                </p>
                            </div>
                        </center>

                        <br>

                        <center id="draft-div-1" onclick="last_choice = 1; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-1" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-1">Oyuncu - 2</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-1">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-1">
                                    <span id="athlete-cost-1"></span>₺
                                </p>
                            </div>
                        </center>

                        <center id="draft-div-2" onclick="last_choice = 2; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-2" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-2">Oyuncu - 3</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-2">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-2">
                                    <span id="athlete-cost-2"></span>₺
                                </p>
                            </div>
                        </center>

                        <center id="draft-div-3" onclick="last_choice = 3; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-3" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-3">Oyuncu - 4</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-3">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-3">
                                    <span id="athlete-cost-3"></span>₺
                                </p>
                            </div>
                        </center>

                        <br>

                        <center id="draft-div-4" onclick="last_choice = 4; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-4" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-4">Oyuncu - 5</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-4">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-4">
                                    <span id="athlete-cost-4"></span>₺
                                </p>
                            </div>
                        </center>

                        <center id="draft-div-5" onclick="last_choice = 5; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-5" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-5">Oyuncu - 6</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-5">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-5">
                                    <span id="athlete-cost-5"></span>₺
                                </p>
                            </div>
                        </center>

                        <br>

                        <center id="draft-div-6" onclick="last_choice = 6; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-6" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-6">Oyuncu - 7</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-6">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-6">
                                    <span id="athlete-cost-6"></span>₺
                                </p>
                            </div>
                        </center>

                        <center id="draft-div-7" onclick="last_choice = 7; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-7" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-7">Oyuncu - 8</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-7">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-7">
                                    <span id="athlete-cost-7"></span>₺
                                </p>
                            </div>
                        </center>

                        <center id="draft-div-8" onclick="last_choice = 8; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-8" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-8">Oyuncu - 9</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-8">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-8">
                                    <span id="athlete-cost-8"></span>₺
                                </p>
                            </div>
                        </center>

                        <center id="draft-div-9" onclick="last_choice = 9; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-9" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-9">Oyuncu - 10</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-9">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-9">
                                    <span id="athlete-cost-9"></span>₺
                                </p>
                            </div>
                        </center>
                        <br>
                        <center id="draft-div-10" onclick="last_choice = 10; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-radius: 15px; border: 1px solid rgb(200, 200, 200); font-family: sans-serif; width: fit-content; height: fit-content; padding: 15px; background: white; display: inline-block; margin: 15px; background: rgba(0, 0, 0, 0.5)">
                            <div id="team-img-10" style="width: 100px; height: 100px; background-image: url('/static/player.png'); background-size: cover; float:left;"></div>
                            <div style="float: left; margin-left: 15px">
                                <br>
                                <span style="margin-top: 1px; color: white; font-size: 1rem; font-family: 'Open Sans', sans-serif" id="athlete-10">Oyuncu - 11</span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-10">
                                <br>
                                <p style="display: none; color: white; margin-top: 20px; font-family: 'Open Sans', sans-serif; float: left" id="athlete-cost-wrapper-10">
                                    <span id="athlete-cost-10"></span>₺
                                </p>
                            </div>
                        </center>

                    </center>
                </form>
            {% else %}

                {% if not mobile %}
                    <form enctype="multipart/form-data" method="post" style="background-image: url('/static/saha2.jpg'); background-size: cover; background-position: center">
                        {% for i in range(11) %}
                            <div id="draft-div-{{ i }}" onclick="last_choice={{ i }}; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-top: 1px solid gray; padding: 10px; box-sizing: border-box; color: white; background: rgba(0,0,0,0.5); width: 100%; height: 100%">
                                <div id="team-img-{{ i }}" style="float: left; width: 25px; margin-right: 15px; background-image: url('/static/player.png'); background-size: cover; height: 25px"></div><span style="float: left;  margin-top: 1px" id="athlete-{{ i }}">{{ i+1 }}.Oyuncu</span>
                                <span style="float: right; display: none; margin-top: 2px" id="athlete-cost-wrapper-{{ i }}">
                                    <span id="athlete-cost-{{i}}"></span>₺
                                </span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-{{i}}">
                                <br>
                            </div>
                        {% endfor %}
                    </form>
                {% else %}
                    <form enctype="multipart/form-data" method="post" style="background-image: url('/static/saha2.jpg'); background-size: cover; background-position: center">
                        {% for i in range(11) %}
                            <div id="draft-div-{{ i }}" onclick="last_choice={{ i }}; this.style.opacity = 0.5; document.getElementById('search-box').scrollIntoView({block: 'center'}); document.getElementById('search-box').focus()" style="border-top: 1px solid gray; padding: 10px; box-sizing: border-box; color: white; background: rgba(0,0,0,0.5); width: 100%; height: 100%; font-size: 12px; padding-bottom: 15px">
                                <div id="team-img-{{ i }}" style="float: left; width: 25px; margin-right: 15px; background-image: url('/static/player.png'); background-size: cover; height: 25px"></div><span style="float: left;  margin-top: 4px" id="athlete-{{ i }}">{{ i+1 }}.Oyuncu</span>
                                <span style="float: right; display: none; margin-top: 4px" id="athlete-cost-wrapper-{{ i }}">
                                    <span id="athlete-cost-{{i}}"></span>₺
                                </span>
                                <input type="text" style="border: none; outline: none; display: none" name="athlete-{{i}}">
                                <br>
                            </div>
                        {% endfor %}
                    </form>
                {% endif %}
            {% endif %}
            <br>
            <div style="background-color: #16191e; padding: 10px; box-sizing: border-box; border-radius: 15px">
                <input type="text" oninput="searchPlayer()" id="search-box" style="width: 40%; border-radius: 10px; outline: none; border: none; padding: 10px 15px; font-family: sans-serif; outline: none; font-size: 1rem; box-sizing: border-box" placeholder="Oyuncu Ara">
            <br>
                <script>
                    if(window.innerHeight > window.innerWidth){
                        document.getElementById("search-box").style.width = "100%";
                    }
                </script>

            <div style="overflow-y: auto; max-height: 310px; background-color: #16191e">
                {% for i in competition.available_athletes %}
                    {% if desktop and mobile %}
                        <div class="searchable-div" onclick="addToDraft('{{i.id}}', '{{ i.athlete_name }}', this, {{ i.athlete_cost }}, '{{ i.team_name }}')" id="athlete-selection-{{i.id}}" style="color: white; box-sizing: border-box; font-size: 12px; padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 20px">
                            <img style="float: left; width: 25px; margin-right: 15px; height: 25px; margin-top: 3px" src="/static/{{ i.team_name }}.png"><span style="float: left; margin-top: 7px">{{ i.athlete_name }}</span>
                            <span style="float: right; margin-top: 7px">
                                {{ i.athlete_cost | int }}₺
                            </span>
                            <br>
                        </div>
                    {% else %}
                        <div class="searchable-div" onclick="addToDraft('{{i.id}}', '{{ i.athlete_name }}', this, {{ i.athlete_cost }}, '{{ i.team_name }}')" id="athlete-selection-{{i.id}}" style="color: white; padding: 10px; box-sizing: border-box;">
                            <img style="float: left; width: 25px; margin-right: 15px; height: 25px" src="/static/{{ i.team_name }}.png"><span style="float: left;">{{ i.athlete_name }}</span>
                            <span style="float: right;">
                                {{ i.athlete_cost | int }}₺
                            </span>
                            <br>
                        </div>
                    {% endif %}

                {% endfor %}
                <br>
            </div>
            </div>
            <br>
            <button onclick="document.getElementsByTagName('form')[0].submit()" style="position: relative; color: white; font-family: 'Open Sans', sans-serif; width: 100%; padding: 15px; box-sizing: border-box; background-color: #7b00ff; outline: none; border: none;" id="join-button">Yarışmaya Katıl
            <div class="play-select">
                <i class="fa-solid fa-play"
                   style="position: absolute; top: 0; right: 0; left: 0; bottom: 0; color: white; margin: auto; width: fit-content; height: fit-content"></i>
            </div>
            </button>
            <br style="clear: both">
            <span style="opacity: 0;">Grand Casino</span>
        </div>
    </center>
    <br style="clear: both">
    <span style="opacity: 0;">Grand Casino</span>
    <script>
        if(window.innerHeight > window.innerWidth){
            document.getElementById("join-button").style.marginBottom = "50px"
        }
        function searchPlayer(){
            let search_query = document.getElementById("search-box").value;
            let searchable_divs = document.getElementsByClassName("searchable-div")
            for(let i = 0; i < searchable_divs.length; i++){
                if(search_query.length > 2){
                    if(!searchable_divs[i].innerHTML.includes(search_query)){
                        searchable_divs[i].style.display = "none";
                    }
                }else{
                    searchable_divs[i].style.display = "block";
                }
            }
        }
        let last_choice = 99;
        let total_cost = 0
        function switchChoice(new_index, athlete_id, current_element, athlete_cost){
            if(last_choice !== 99){
                return;
            }
            document.getElementById("search-box").scrollIntoView({block: 'center'})
            document.getElementById("search-box").focus()
            for(let i = 0; i < 11; i++){
                document.getElementById("draft-div-"+i).style.opacity = 1;
            }

            document.getElementById("athlete-selection-"+athlete_id).style.display = "block";
            document.getElementById("athlete-selection-"+athlete_id).className = "searchable-div";
            last_choice = new_index;
            total_cost-=athlete_cost
            current_element.style.opacity = 0.5;
        }
        function addToDraft(athlete_id, athlete_name, athlete_choice, athlete_cost){
            document.getElementById("search-box").value = ""
            searchPlayer();
            total_cost+=athlete_cost
            if(last_choice === 99){
                return;
            }
            if(total_cost > 50000){
                alert("Bütçeyi Aştınız");
                total_cost-=athlete_cost
                return;
            }
            for(let i = 0; i < 11; i++){
                document.getElementById("draft-div-"+i).style.opacity = 1;
            }

            document.getElementById("draft-div-"+last_choice).scrollIntoView({block: 'center'});
            document.getElementById("athlete-"+last_choice).innerText = athlete_name;
            document.getElementById("athlete-cost-"+last_choice).innerText = athlete_cost;
            document.getElementById("team-img-"+last_choice).style.backgroundImage = `url('/athlete/image/${athlete_id}')`;
            document.getElementById("team-img-"+last_choice).style.backgroundSize = "80%";
            document.getElementById("team-img-"+last_choice).style.backgroundRepeat = "no-repeat";
            document.getElementById("draft-div-"+last_choice).setAttribute("onclick", `switchChoice(${last_choice}, ${athlete_id}, this, ${athlete_cost})`)
            document.getElementsByName("athlete-"+last_choice)[0].value = athlete_id;
            athlete_choice.style.display = "none";
            athlete_choice.className = "disabled-athlete"
            document.getElementById("athlete-cost-wrapper-" + last_choice).style.display = "block";
            last_choice = 99;
            document.getElementById("money-spent").innerText = total_cost;
            document.getElementById("remaining-budget").innerText = 50000 - total_cost;
        }
        function resetDraft(){
            document.location.reload();
        }
    </script>
    </div>
    <script>
        function openMobileMenu(){
            let mobile_menu = document.getElementById("mobile-menu");
            if(mobile_menu.style.display === "block"){
                mobile_menu.style.display = "none";
                document.getElementById("mobile-home").innerHTML = "<i class=\"fa-solid fa-bars\"></i>"
            }else{
                mobile_menu.style.display = "block"
                document.getElementById("mobile-home").innerHTML = "<i class=\"fa-solid fa-circle-chevron-down\"></i>"
            }
        }
        if (window.innerWidth < window.innerHeight) {
            document.getElementById("desktop-join").style.marginTop = "5px";
            document.getElementById("desktop-join").style += "; float: right; width: 300px; overflow-x: auto; white-space: nowrap; padding-top: 10px; margin-top: -13px"
        } else {
           document.getElementById("mobile-home").style.display = "none";
        }
    </script>
</div>
</body>
</html>
