<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game_title }} | Grand Casino</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=Protest+Guerrilla&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;600;700&display=swap');
        body{
            font-family: 'Anek Malayalam', sans-serif;
            padding: 0;
            margin: 0;
            background: #002836;
        }
        .game-div{
            width: 75%;
            min-height: 600px;
            min-width: 360px;
            color: white;
            border-radius: 15px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: #0f1012;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="background-color: #191a1f; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif;">
    <div style="width: 100%; box-sizing: border-box; height: 200px;">
            <img id="iconmain" src="/img/logo.png" alt="" style="width: 200px; padding: 20px; float: left">
            <script>
                if(window.innerWidth < window.innerHeight){
                    document.getElementById("iconmain").style.width = "50px";
                }
            </script>
            <div style="float: right; margin-top: 40px;">
                {% if current_user.is_authenticated %}
                    <div style="background-color: rgba(0,134,255,0.38); border-left: dodgerblue 3px solid; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -10px; float: right">
                        <span id="balance">{{'%0.2f'| format(current_user.balance|float)}}</span>₺
                    </div>
                    <span onclick="refreshBalance()" style="margin-right: 25px; font-size: 2rem; float: right; color: white; margin-top: -13px">&#x21ba;</span>
                    <script>
                        function updateBalance(balance){
                            document.getElementById("balance").innerText = balance;
                        }
                        function refreshBalance(){
                            document.getElementById("balance").innerText = "..."
                            fetch("/refresh-balance")
                            .then(x => x.text())
                            .then(y => updateBalance(y));
                        }
                    </script>
                    <a href="/profile" style="color: dodgerblue; text-decoration: none; margin-right: 25px; float: right">
                        <img style="width: 25px" src="/static/profile.png" alt="">
                    </a>
                {% else %}
                    <a href="/login" style="color: white; text-decoration: none; margin-right: 25px;">Giriş Yap</a>
                    <a href="/signup" style="color: dodgerblue; text-decoration: none; margin-right: 25px;">Üye Ol</a>
                {% endif %}
            </div>
            <script>
                if(window.innerHeight > window.innerWidth){
                    document.getElementById("hid-mob").style.display = "none";
                }
            </script>
            <div style="padding: 20px 50px; overflow-x: auto; float: left; white-space: nowrap; width: 100vw; background-color: #0f1012; box-sizing: border-box">
                <span style="display: inline-block; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/'">
                    Anasayfa
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="localStorage.clear(); window.location.reload()">
                    Kampanyalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=daily'">
                    Günlük Yarışmalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=weekly'">
                    Haftalık Yarışmalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=daily'">
                    Yüksek Limitli Yarışmalar
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=Premier-Lig'">
                    Premier Lig
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=Süper-Lig'">
                    Süper Lig
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=Bundesliga'">
                    Bundesliga
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/?filter_q=LaLiga'">
                    LaLiga
                </span>
                <span style="display: inline-block; margin-left: 50px; color: white; font-family: 'Open Sans', sans-serif" onclick="document.location = '/bahis'">
                    Bahis
                </span>
            </div>
        </div>
    <br>
    <center>
        <iframe class="game-div" src="/{{ game_url }}" frameborder="0"></iframe>

        <br>
        <h2 style="color: white;">Grand Casino, bu oyunları başka yerde bulamazsın!</h2>
        <center><img style="max-width: 70%" onclick="window.open('{{ ad_url }}')" id="ad-section" src="{{ ad_image_url }}" alt=""></center>

        <div class="game-div" style="min-height: 150px; text-align: left; padding: 15px; width: 75%; min-width: 75%">
            <h1>{{ game_title }}</h1>
            <p>{{ game_description }}</p>
        </div>
        <br>
        <br>
    </center>
</body>
</html>