<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KadroMilyon | Fantezi Futbol'un Merkezi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<body style="background-color: #222; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif">
  <div style="width: 100%; box-sizing: border-box; height: 220px">
        <img src="/static/kadromilyon.png" alt="" style="width: 200px; padding: 20px; float: left">
        <div id="hid-mob" style="float: left;">

            <script>
                if(window.innerHeight > window.innerWidth){
                    document.getElementById("hid-mob").style.display = "none";
                }
            </script>
        </div>
        <div style="float: right; margin-top: 50px">
            {% if current_user.is_authenticated %}
                <div style="background-color: #292d30; border-radius: 50px; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -10px; float: right">
                    <span style="background-color: #212226; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 50px; box-sizing: border-box">₺</span>
                    <span id="balance" style="padding-right: 5px; padding-left: 5px">{{'%0.2f'| format(current_user.balance|float)}}</span>
                </div>
                <span onclick="refreshBalance()" style="margin-right: 25px; font-size: 2rem; float: right; color: white; margin-top: -13px">&#x21ba;</span>
                <script>
                    function updateBalance(balance){
                        document.getElementById("balance").innerText = balance;
                    }
                    function refreshBalance(){
                        document.getElementById("balance").innerText = "..."
                        fetch("/refresh-balance")
                        .then(x => x.text())
                        .then(y => updateBalance(y));
                    }
                </script>
                <a href="/profile" style="color: dodgerblue; text-decoration: none; margin-right: 25px; float: right">
                    <img style="width: 25px" src="/static/profile.png" alt="">
                </a>
            {% else %}
                <a href="/login" style="color: white; text-decoration: none; margin-right: 25px;">Giriş Yap</a>
                <a href="/signup" style="color: dodgerblue; text-decoration: none; margin-right: 25px;">Üye Ol</a>
            {% endif %}
        </div>
        <div style="padding: 20px 50px; overflow-x: auto; float: left; white-space: nowrap; width: 100vw; background-color: #333; box-sizing: border-box">
            <span style="display: inline-block; color: white" onclick="document.location = '/'">
                Anasayfa
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="localStorage.clear(); window.location.reload()">
                Kampanyalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=daily'">
                Günlük Yarışmalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=weekly'">
                Haftalık Yarışmalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=daily'">
                Yüksek Limitli Yarışmalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=Premier-Lig'">
                Premier Lig
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=Süper-Lig'">
                Süper Lig
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=Bundesliga'">
                Bundesliga
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=LaLiga'">
                LaLiga
            </span>
        </div>
    </div>
  <div style="color: white; margin-left: 10%; width: 80%">
    <h1>Bir zamanlar hepimiz acemiydik, işte adım adım KadroMilyon!</h1>
    <h2 style="font-family: 'Protest Guerrilla', sans-serif">Aşama 1: Kayıt Ol</h2>
    <img src="/static/guide-signup.png" style="width: 100%; border-radius: 15px" alt="">
    <p>Gerekli bilgileri sağlayarak bir hesap oluştur.</p>
    <h2 style="font-family: 'Protest Guerrilla', sans-serif">Aşama 2: Yarışmaları Keşfet</h2>
      <img src="/static/guide-competitions.png" style="width: 100%; border-radius: 15px" alt="">
    <p>Platformdaki mevcut yarışmaları veya ligleri gözden geçir.
      Her yarışmanın belirli kuralları, giriş ücretleri ve ödülleri olacak, tercihlerine uygun olanı seç.</p>
    <h2 style="font-family: 'Protest Guerrilla', sans-serif">Aşama 3: Takımını Kur</h2>
      <img src="/static/guide-draft.png" style="width: 100%; border-radius: 15px" alt="">
    <p>Her yarışmada takımını kurman için sana 50.000TL bütçe vereceğiz. Bütçeni en iyi şekilde değerlendirerek oyun planınını yap ve hayalindeki ilk 11'i kur.</p>
    <h2 style="font-family: 'Protest Guerrilla', sans-serif">Aşama 4: Puan Topla</h2>
      <img src="/static/guide-point.png" style="width: 100%; border-radius: 15px" alt="">
    <p>Kadrondaki oyuncuların yarışma tarihleri arasında gerçek hayatta çıktıkları maçlardaki performanslarına göre puan topla.</p>
    <h2 style="font-family: 'Protest Guerrilla', sans-serif">Aşama 5: Diğer Oyuncularla Yarış</h2>
      <img src="/static/guide-ranking.png" style="width: 100%; border-radius: 15px" alt="">
    <p>Aynı yarışmada diğer fantezi futbol oyuncuları ile yarış.
      Toplam puanların, yarışmanın liderlik tablosundaki sıralamanı belirler.</p>
    <h2 style="font-family: 'Protest Guerrilla', sans-serif">Aşama 6: Ve MİLYONER Ol!</h2>
      <img src="/static/guide-prize.png" style="width: 100%; border-radius: 15px" alt="">
    <p>Ödüller, yarışmadaki sıralamana bağlı olarak verilir. Sıralamana bağlı olarak 5.000.000₺'ye kadar ödül kazanabilirsin!</p>
  </div>
    <br>
    <span style="opacity: 0">KadroMilyon</span>

</body>
</html>