<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KadroMilyon | Fantezi Futbol'un Merkezi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=Protest+Guerrilla&amp;display=swap" rel="stylesheet">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }
        .promotion-image{
            width: 25%; display: inline-block; margin-left: 3%;
        }
        .competition-div{
            background-color: white; width: 72%; text-align: left; display: inline-block; float: left;
        }
        .kadro-mil{
            background-image: url('/static/player-bg.jpg'); background-size: cover; width: 67%; text-align: left; box-sizing: border-box; padding: 20px 50px; min-height: 320px; background-position: right; float: left; margin-left: 5%; margin-bottom: 30px;
        }

        @media screen and (max-width: 800px){
            .promotion-image{
                display: none;
            }
            .competition-div{
                width: 100%;
                float: none;
            }
        }
        @media screen and (max-width: 1400px) {
            .kadro-mil{
                min-height: fit-content;
                height: 320px;
                width: 90%;
            }
            #promotion-img{
                display: none;
            }
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<body style="background-color: #222; padding: 0; margin: 0; font-family: 'Open Sans', sans-serif; background: url('/static/background.jpeg')">
    <center style="padding: 20px 50px; background-color: orange; display: none;" id="promotion-insta">
        <span style="color: white; font-family: 'Protest Guerrilla', sans-serif; font-size: 16px; text-decoration: underline;" onclick="window.localStorage.setItem('hidePromotionInsta', 'true'); document.location = '/promotions/instagram';">Yatırımsız 500TL fırsatı!</span>
        <script>
            document.getElementById("promotion-insta").style.display = "none";
            if(window.localStorage.getItem("hidePromotionInsta") === 'true'){
                document.getElementById("promotion-insta").style.display = "none";
            }
        </script>
    </center>
    <div style="width: 100%; box-sizing: border-box; height: 200px;">
        <img src="/static/kadromilyon.png" alt="" style="width: 75px; padding: 20px; float: left">
        <div style="float: left;" id="hid-mob">
            <p style="color: white; font-size: 1rem; margin-top: 35px; font-family: 'Protest Guerrilla', sans-serif">
                KadroMilyon
            </p>
            <p style="color: orange; font-size: 1rem; margin-top: -10px; font-family: 'Protest Guerrilla', sans-serif">
                Fantezi Spor
            </p>
        </div>
        <div style="float: right; margin-top: 50px;o">
            {% if current_user.is_authenticated %}
                <div style="background-color: rgba(0,134,255,0.38); border-left: dodgerblue 3px solid; color: white; padding: 10px; box-sizing: border-box; margin-right: 20px; margin-top: -10px; float: right">
                    <span id="balance">{{'%0.2f'| format(current_user.balance|float)}}</span>₺
                </div>
                <span onclick="refreshBalance()" style="margin-right: 25px; font-size: 2rem; float: right; color: white; margin-top: -13px">&#x21ba;</span>
                <script>
                    function updateBalance(balance){
                        document.getElementById("balance").innerText = balance;
                    }
                    function refreshBalance(){
                        document.getElementById("balance").innerText = "..."
                        fetch("/refresh-balance")
                        .then(x => x.text())
                        .then(y => updateBalance(y));
                    }
                </script>
                <a href="/profile" style="color: dodgerblue; text-decoration: none; margin-right: 25px; float: right">
                    <img style="width: 25px" src="/static/profile.png" alt="">
                </a>
            {% else %}
                <a href="/login" style="color: white; text-decoration: none; margin-right: 25px;">Giriş Yap</a>
                <a href="/signup" style="color: dodgerblue; text-decoration: none; margin-right: 25px;">Üye Ol</a>
            {% endif %}
        </div>
        <script>
            if(window.innerHeight > window.innerWidth){
                document.getElementById("hid-mob").style.display = "none";
            }
        </script>
        <div style="padding: 20px 50px; overflow-x: auto; float: left; white-space: nowrap; width: 100vw; background-color: #333; box-sizing: border-box">
            <span style="display: inline-block; color: white" onclick="document.location = '/'">
                Anasayfa
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="localStorage.clear(); window.location.reload()">
                Kampanyalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=daily'">
                Günlük Yarışmalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=weekly'">
                Haftalık Yarışmalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=daily'">
                Yüksek Limitli Yarışmalar
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=Premier-Lig'">
                Premier Lig
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=Süper-Lig'">
                Süper Lig
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=Bundesliga'">
                Bundesliga
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/?filter_q=LaLiga'">
                LaLiga
            </span>
            <span style="display: inline-block; margin-left: 50px; color: white" onclick="document.location = '/bahis'">
                Bahis
            </span>
        </div>
    </div>
    <center>
        <img id="promotion-img" src="/static/betting.png" style="float: right; margin-right: 5%; height: 320px">
    <div class="kadro-mil">
            <h1 style="font-family: 'Protest Guerrilla', sans-serif; color: white">
                Kadronu Kur
            </h1>
            <p style="font-family: 'Protest Guerrilla', sans-serif; color: white">
                <span style="color: orange">Milyoner</span> Ol
            </p>
            <p style="color: white">Dev ödül havuzlarıyla hayalindeki takımı kur, kazanmaya hemen başla.</p>
        </div>
        <br style="clear:both">
    <div style="background-color: #343434; box-sizing: border-box; padding: 15px; width: 90%; border-radius: 15px; min-height: fit-content; overflow: auto">
        <div style="width: 100%; text-align: left; overflow-x: auto; white-space: nowrap;">
            <center onclick="window.location = '/?filter_q=daily'" style="display: inline-block; margin-left: 5px; border-radius: 15px; padding: 20px; box-sizing: content-box; background-color:#494a4e; width: 120px;">
                <img src="/static/daily-icon.png" style="height: 50px" alt="">
                <br>
                <span style="color: white;">Günlük Yarışma</span>
            </center>
            <center onclick="window.location = '/?filter_q=weekly'" style="display: inline-block; margin-left: 5px; border-radius: 15px; padding: 20px; box-sizing: content-box; background-color:#494a4e; width: 120px;">
                <img src="/static/weekly-icon.png" style="height: 50px" alt="">
                <br>
                <span style="color: white;">Haftalık Yarışma</span>
            </center>
            <center onclick="window.location = '/?filter_q=high_limit'" style="display: inline-block; margin-left: 5px; border-radius: 15px; padding: 20px; box-sizing: content-box; background-color:#494a4e; width: 120px;">
                <img src="/static/money-bag.png" style="height: 50px" alt="">
                <br>
                <span style="color: white;">Yüksek Limit</span>
            </center>
            <center onclick="window.location = '/?filter_q=low_participants'" style="display: inline-block; margin-left: 5px; border-radius: 15px; padding: 20px; box-sizing: content-box; background-color:#494a4e; width: 120px;">
                <img src="/static/few-participants.png" style="height: 50px" alt="">
                <br>
                <span style="color: white;">Az Katılımcı</span>
            </center>
            <center onclick="window.location = '/?filter_q=single_participation'" style="display: inline-block; margin-left: 5px; border-radius: 15px; padding: 20px; box-sizing: content-box; background-color:#494a4e; width: 120px;">
                <img src="/static/single-participation.png" style="height: 50px" alt="">
                <br>
                <span style="color: white;">Tek Katılımlı</span>
            </center>
            <center onclick="window.location = '/?filter_q=multiple_participation'" style="display: inline-block; margin-left: 5px; border-radius: 15px; padding: 20px; box-sizing: content-box; background-color:#494a4e; width: 120px;">
                <img src="/static/multi-participation.png" style="height: 50px" alt="">
                <br>
                <span style="color: white;">Çok Katılımlı</span>
            </center>
            <center onclick="window.location = '/?filter_q=high_reward'" style="display: inline-block; margin-left: 5px; border-radius: 15px; padding: 20px; box-sizing: content-box; background-color:#494a4e; width: 120px;">
                <img src="/static/high-reward.png" style="height: 50px" alt="">
                <br>
                <span style="color: white;">Yüksek Ödül</span>
            </center>
            <center onclick="window.location = '/?filter_q=cheap_entry'" style="display: inline-block; margin-left: 5px; border-radius: 15px; padding: 20px; box-sizing: content-box; background-color:#494a4e; width: 120px;">
                <img src="/static/cheap-entry.png" style="height: 50px" alt="">
                <br>
                <span style="color: white;">Ucuz Giriş</span>
            </center>
            <center onclick="window.location = '/?filter_q=seasonal'" style="display: inline-block; margin-left: 5px; border-radius: 15px; padding: 20px; box-sizing: content-box; background-color:#494a4e; width: 120px;">
                <img src="/static/seasonal.png" style="height: 50px" alt="">
                <br>
                <span style="color: white;">Sezon Yarışması</span>
            </center>
        </div>
        <br>
        <div onclick="document.location = '/howtoplay'" style="width: 100%; text-align: left; background-color: #494a4e; padding: 20px; height: 85px; border-radius: 10px; box-sizing: border-box;">
           <div style="border-radius: 500px; border: 1px solid white; width: fit-content; height: fit-content; padding: 10px 18px; color: white; float: left; box-sizing: border-box">
               ?
           </div>
            <span style="color: white; float: left; margin: 10px">Nasıl oynanır?</span>
        </div>
        <br>

    <div class="competition-div">
            <div style="background-color: dodgerblue; width: 100%; padding: 20px; color: white; box-sizing: border-box">
                Açık Yarışmalar
            </div>
            <div style="width: 100%; overflow-x: auto; white-space: nowrap">
                <table>
                    <tr>
                        <th>Yarışma İsmi</th>
                        <th>Yarışma Türü</th>
                        <th>Yarışma Tarihleri</th>
                        <th>Ödül Havuzu</th>
                        <th>Katılım Ücreti</th>
                        <th>Birden Fazla Katılım</th>
                        <th>Maks. Katılımcı Sayısı</th>
                    </tr>
                    {% for competition in competitions %}
                        <tr>
                            <td onclick="document.location = '/competition/{{ competition.id }}'" style="text-decoration: underline">
                                {{ competition.competition_name }}
                            </td>
                            <td>
                                {{ competition.competition_type }}
                            </td>
                            <td>
                                {{ competition.start_date.strftime('%d/%m/%Y') }} - {{ competition.end_date.strftime('%d/%m/%Y') }}
                            </td>
                            <td>
                                {{"{:,.2f}".format(competition.prize_pool|float)}}₺
                            </td>
                            <td>{{ competition.entry_fee }}₺</td>
                            <td>
                                {% if competition.allow_multiple_entries %}
                                    Evet
                                {% else %}
                                    Hayır
                                {% endif %}
                            </td>
                            <td>
                                {{ competition.participant_max }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br style="clear: both">
                <span style="opacity: 0;">KadroMilyon</span>
            </div>
        </div>
    <img src="/static/fantasyim.jpeg" class="promotion-image"></div>
    </center>
    <br>
    <span style="opacity: 0">KadroMilyon</span>

</body></html>
