<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KadroMilyon</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: var(--backgroundDark)">
  <center style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: fit-content; height: fit-content;">
      <img style="width: 250px;" src="/img/logo.png" alt="">
      <br>
      <p style="color: white; font-family: 'Open Sans', sans-serif">Yükleniyor...</p>
  </center>
  <script>
    document.location = '{{ route_to }}'
  </script>
</body>
</html>