<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You Lost</title>
    <style>
        .hit-or-pass-button{
            background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
            font-size: 1.5rem;
            border-radius: 2px;
            color: #757575;
            font-weight: bold;
            width: 200px;
            padding: 7px 16px;
            margin: 0 2px;
            margin-top: 25px;
        }
    </style>
</head>
<body style="font-family: Helvetica">
    <center>
        <p style="color: red; font-size: 8rem">&#x21ba;</p>
        <p style="color: white; font-size: 2rem; margin-top: 5%">Bu defa olmadı.</p>
        <p style="width: 50%"><a href="/double" style="text-decoration: none; color: white"><button class="hit-or-pass-button" style="background: #3ddc84">Tekrar Dene</button></a></p>
    </center>
</body>
</html>