<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lidya Casino</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/88bd62ac48.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,200" rel="stylesheet" type="text/css">
</head>
<body style="font-family: open sans, sans-serif; background-color: #0f1012">
    <img id="iconmain" src="/img/logo.png" alt="" style="width: 200px; padding: 20px; float: left">
    <script>
        if(window.innerWidth < window.innerHeight){
            document.getElementById("iconmain").style.width = "50px";
        }
    </script>
    <br style="clear: both">
    <center>
        <p style="color: white; font-size: 2rem; margin-top: 5%;">Ödemeniz Onay Bekliyor</p>
        <p style="width: 50%; color: white">Grand Casino'u tercih ettiğiniz için teşekkürler.</p>
        <p style="width: 50%; color: white">Bol şans, bol kazançlar.</p>
        <button onclick="document.location = '/'" style="background-color: transparent; color: white; border: 1px solid white; border-radius: 5px; margin-top: 250px; font-size: 1rem; padding: 10px; width: 250px; box-sizing: border-box; display: inline-block">
            Anasayfa
        </button>
    </center>
</body>
</html>