<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grand Casino | Güvenilir Casino</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/fontawesome.min.css" />
	<link rel="stylesheet" href="/plugins/owl/owl.carousel.min.css" />
    <script src="https://kit.fontawesome.com/88bd62ac48.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=Protest+Guerrilla&amp;display=swap" rel="stylesheet">
    <style>
        .form-main{
            background-color: var(--categoryBackground); color: white; padding: 20px; box-sizing: border-box; width: 750px; height: 550px; max-width: 100vw; overflow-y: auto; border-radius: 15px;
        }
        p{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        h1{
            padding-top: 1rem;
        }

        .division-profile{
            background-color: var(--categoryBackground);
            width: 80%;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 15px;
        }

        #main-content-wrapper {
            width: 95%;
            float: right;
            margin-left: -70px
        }

        th, td {
            text-align: left;
            padding: 8px;
        }
        .promotion-image{
            width: 25%; display: inline-block; margin-left: 3%;
        }

        .competition-div{
            background-color: white; width: 72%; text-align: left; display: inline-block; float: left;
        }
        .kadro-mil {
            background-image: url('/static/km-fantasy-slider.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 64%;
            text-align: left;
            box-sizing: border-box;
            padding: 20px 50px;
            min-height: 300px;
            background-position: center;
            float: left;
            border-radius: 40px;
        }
        .slider-wrapper{
            background-color: #0f1012; border: 1px solid rgba(255, 255, 255, 0.3); border-radius: 40px; padding: 10px; overflow: auto; width: 90%; box-sizing: border-box;
        }

        .menu-main{
            width: 100%; box-sizing: border-box; height: 200px;
        }

        @media screen and (max-width: 800px) {
            #main-content-wrapper{
                width: 100%;
            }
            .slider-wrapper{
                border: none;
                background: transparent;
            }
            .menu-main{
                height: 100px;
            }
            .kadro-mil{
                border-radius: 0;
                width: 90%;
                height: 350px;
                background-size: cover;
            }
            .promotion-image {
                display: none;
            }

            .competition-div {
                width: 100%;
                float: none;
            }
        }

        #second-right{
            margin-left: 25px;
        }

        @media screen and (max-width: 800px){
            .promotion-image{
                display: none;
            }
            #second-right{
                margin-left: 0;
            }
            .competition-div{
                width: 100%;
                float: none;
            }
        }

        #side-bar {
                display: block;
        }

        table{
            width: 80%;
        }

        @media screen and (max-width: 1400px) {
            .kadro-mil{
                min-height: fit-content;
                height: 320px;
                width: 100%;
                float: none;
            }
            #side-bar {
                display: none;
            }
            .promotion-img{
                display: none;
            }
            table{
                width: 80%;
                float: none;
                margin-left: 0;
                overflow-x: auto;
            }
            #promotion-img{
                display: none;
            }
        }

        tr:nth-child(even) {
            background-color: #22252a;
        }
    </style>
</head>
<body>
<div style="width: 100%; box-sizing: border-box; height: 220px">
        <app-header>
		<app-home-header class="sticky-top">
			<div class="nav" style="border-bottom: none">
				<div class="logo"> <a href="/"> <img src="/img/logo.png" /> </a> </div>
				<div class="fast-links">
					<a href="#." class="btn"> <i class="km km-affiliate"></i> Affiliate </a>
					<a href="#." class="btn"> <i class="km km-call"></i> Sizi Arayalım </a>
					<a href="#." class="btn"> <i class="km km-whatsapp"></i> Whatsapp </a>
					<a href="#." class="btn"> <i class="km km-telegram"></i> Telegram </a>
					<a href="#." class="btn"> <i class="km km-twitter"></i> Twitter </a>
				</div>
				<div class="rightmenu">
					{% if not current_user.is_authenticated %}
					<app-not-loggedin>
							<a href="/login" class="btn login-btn"> <i class="fa-solid fa-right-to-bracket"></i> Giriş Yap </a>
							<a href="/signup" class="btn register-btn"> <i class="fa-solid fa-user-plus"></i> Kayıt Ol </a>
						<div class="lang-select">
							<div class="view"> <img src="/img/flag/tr.png" /> TR <i class="fa-solid fa-chevron-down"></i> </div>
						</div>
						<div class="timer" id="timer">
							16:40:50
						</div>
						<script>
							function setTimer(){
								var d = new Date();
								var n = d.toLocaleTimeString();
								document.getElementById("timer").innerText = n;
							}
							setInterval(setTimer, 1000)
						</script>
						<a href="#." class="notification"> <i class="fa-solid fa-bell"></i> </a>
					</app-not-loggedin>
					{% else %}
					<app-loggedin>
						<a href="#." class="btn price-btn"> <i class="fa-solid fa-turkish-lira-sign"></i>
							{% if current_user.sports_bonus_balance + current_user.casino_bonus_balance > 0 %}
								<span style="display: inline-block; vertical-align: middle">
									<p style="font-size: 12px; margin-bottom: 0; margin-block-start: 0; margin-block-end: 0;">{{'%0.2f'| format(current_user.balance|float)}}</p>
									<p style="font-size: 8px; color: var(--baseColor); margin-top: 0; margin-bottom: 0; margin-block-start: 0; margin-block-end: 0">{{'%0.2f'| format(current_user.casino_bonus_balance + current_user.sports_bonus_balance |float)}}</p>
								</span>
							{% else %}
								{{'%0.2f'| format(current_user.balance|float)}}
							{% endif %}
						</a>
						<a href="/profile" class="btn setting-btn"> <i class="fa-solid fa-gear"></i> </a>
						<a href="/notifications" class="btn notification-btn"> <i class="fa-regular fa-bell"></i> <div class="counter">0</div> </a>
						<a href="/profile" class="btn profile-btn"> <img src="/img/profile-demo.png" /> </a>
					</app-loggedin>
					{% endif %}
				</div>
			</div>
		</app-home-header>
	</app-header>
        <div style="padding: 20px 50px; overflow-x: auto; float: left; white-space: nowrap; width: 100vw; box-sizing: border-box" id="navbar-main">
            <span style="background: #0f1012; ; padding: 15px; box-sizing: border-box; display: inline-block; color: white" onclick="document.location = '/'">
                Anasayfa
            </span>
            <span class="navbar-item" onclick="changeDivision('profile-information', this)" style="background: #0f1012; ; padding: 15px; box-sizing: border-box; display: inline-block; ; color: white; opacity: 0.5">
                Kullanıcı Bilgileri
            </span>
            <span onclick="changeDivision('deposit-money', this)" class="navbar-item" style="display: inline-block; ; color: white; background: #0f1012; ; padding: 15px; box-sizing: border-box;">
                Para Yatır
            </span>
            <span class="navbar-item" style="background: #0f1012; ; padding: 15px; box-sizing: border-box; display: inline-block; color: white" onclick="changeDivision('withdraw-money', this)">
                Para Çek
            </span>
            <span class="navbar-item" style="background: #0f1012; ; padding: 15px; box-sizing: border-box; display: inline-block; color: white" onclick="changeDivision('bets', this)">
                Bahisler
            </span>
            {% if current_user.site_partner %}
            <span class="navbar-item" style="background: #0f1012; ; padding: 15px; box-sizing: border-box; display: inline-block; color: white" onclick="changeDivision('partnership', this)">
                Kasa İşlemleri
            </span>
            {% endif %}
            <span class="navbar-item" style="background: #0f1012; ; padding: 15px; box-sizing: border-box; display: inline-block; ; color: white" onclick="document.location = '/logout'">
                Çıkış Yap
            </span>
        </div>
    </div>
    <div id="main-content-wrapper">
    <center>
        <div id="current-competitions" class="division-profile" style="display: none">
            <h1 style="color: white; text-align: left; font-family: 'Open Sans', sans-serif; width: 80%">Aktif Kadrolar</h1>
            {% if current_user.active_drafts|length == 0%}
                <p style="color: white; text-align: left; margin-left: 10%">Henüz aktif bir kadronuz yok</p>
            {% endif %}
            {% for i in current_user.active_drafts %}
            <h1 onclick="document.location = '/competition/{{ i.competition.id }}'" style="font-family: 'Open Sans', sans-serif; text-decoration: underline; background-color: var(--baseColor); color: white; box-sizing: border-box; padding: 10px; width: 80%; margin-bottom: 0; margin-top: 50px; border-radius: 15px 15px 0 0">{{ i.draft_name }}</h1>
                <div style="background-color: white; width: 80%; margin-top: 0; background-image: url('/static/saha.jpg'); background-size: cover; background-position: center 0;">
                    {% for i in i.chosen_athletes %}
                        <div style="border-top: 1px solid gray; padding: 10px; box-sizing: border-box; color: white; background: rgba(0,0,0,0.5); width: 100%; height: 100%">
                            <img style="float: left; width: 25px; margin-right: 15px" src="/athlete/image/{{ i.athlete.id }}"><span style="float: left; margin-top: 2px">{{ i.athlete.athlete_name }}</span>
                            <span style="float: right; margin-top: 2px">
                                Puanı: {{ i.current_points | int }}
                            </span>
                            <br>
                        </div>
                    {% endfor %}
                    <div style="background-color: white; border-top: 1px solid gray; padding: 10px; box-sizing: border-box">
                        <span style="float: left; margin-top: 2px">Toplam Kadro Puanı: </span>
                        <span style="float: right; margin-top: 2px">
                            {{ i.total_points | int }}
                        </span>
                        <br>
                    </div>
                    <div style="background-color: white; border-top: 1px solid gray; padding: 10px; box-sizing: border-box">
                        <span style="float: left; margin-top: 2px">Mevcut Sıralama: </span>
                        <span style="float: right; margin-top: 2px">
                            {{ i.current_rank | int }}
                        </span>
                        <br>
                    </div>
                    <div style="background-color: white; border-top: 1px solid gray; padding: 10px; box-sizing: border-box">
                        <span style="float: left; margin-top: 2px">Beklenen Ödül: </span>
                        <span style="float: right; margin-top: 2px">
                            {{"{:,.2f}".format(i.current_prize|float)}}₺
                        </span>
                        <br>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="bets" style="display: none; text-align: left; margin-left: 0; width: 80%; padding: 50px; box-sizing: border-box;" class="division-profile">
            <h1 style="font-family: 'Open Sans', sans-serif; color: white; text-align: left;">
                Bahislerim
            </h1>
            {% for i in current_user.mybets %}
                {% if not i.status == "Oluşturuluyor" %}
                <div style="display: inline-block; width: 320px; max-width: 100%; margin-top: 15px; vertical-align: top">
                    <div style="background-color: var(--baseColor); padding: 5px; width: 95%; box-sizing: border-box; border-radius: 15px 15px 0 0">
                        <p style="color: white">Kupon - {{ i.id }}</p>
                    </div>
                    {% for c in i.all_selects %}
                    <div style="background-color: white; width: 95%; padding: 5px; box-sizing: border-box; border-top: 1px solid gray;">
                        <p style="color: gray">Maç: {{ c.match_name }}</p>
                        <p style="color: gray">{{ c.game_name }}</p>
                        <p style="color: gray">{{ c.odd.value }}</p>
                        <p style="color: gray">Oran: {{ c.odd_locked_in_rate }}</p>
                    </div>
                    {% endfor %}
                    <div style="color: gray; background-color: white; padding: 5px; width: 95%; box-sizing: border-box; border-top: 1px solid gray">
                        <p>
                            Toplam Oran: {{ '%0.2f' | format(i.total_odd) }}
                        </p>
                        <p>
                            Yatırım Tutarı: {{ i.total_value }}₺
                        </p>
                        <p>
                            Potansiyel Kazanç: {{ '%0.2f' | format(i.total_value * i.total_odd) }}₺
                        </p>
                        <p>
                            Sonuç: {{ i.status }}
                        </p>
                    </div>
                    <center onclick="document.location = '/claim/bet/{{ i.id }}'" style="background-color: var(--baseColor); padding-top: 5px; padding-bottom: 5px; width: 95%; box-sizing: border-box; border-radius: 0 0 15px 15px">
                        <p style="color: white">Ödül Al</p>
                    </center>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="profile-information" class="division-profile" style="display: block">
            <center>
                <div style="background-color: var(--baseColor); font-family: 'Open Sans', sans-serif; color: white; padding: 10px; width: 90%; text-align: left; margin-top: 25px" id="fill-profile-box">
                    <p>
                        Profilini Doldur
                    </p>
                </div>
            </center>
            <div style="background-color: var(--categoryBackground); width: fit-content; box-sizing: border-box;  margin-top: 50px">
                <form method="post" enctype="multipart/form-data" class="form-main" style="max-width: 70vw">
                    <img src="/img/logo.png" style="width: 150px" alt="">
                    <br>
                    <input type="text" name="form-type" value="user-info" style="display: none">

    <div id="step-1">
        <div style="display: inline-block;">
            <label for="username" style="font-family: sans-serif; font-size: 12px">İsim Soyisim</label>
            <br>
            <input id="username" value="{{ current_user.user_information.name }}" name="name" type="text" style="width: 300px;padding: 5px;font-family: sans-serif;outline: none;font-size: 1.2rem;border-radius: 5px;border: none;max-width: 50vw;">
            <br>
            <label for="email" style="font-family: sans-serif; font-size: 12px;">E-Posta</label>
            <br>
            <input id="email" value="{{ current_user.email }}" name="email" type="text" style="width: 300px;padding: 5px;font-family: sans-serif;outline: none;font-size: 1.2rem;border-radius: 5px;border: none;max-width: 50vw;">
            <br>
            <label for="gender" style="font-family: sans-serif; font-size: 12px">Cinsiyet</label>
            <br>
            <input id="gender" value="{{ current_user.user_information.gender }}" name="gender" type="text" style="width: 300px;padding: 5px;font-family: sans-serif;outline: none;font-size: 1.2rem;border-radius: 5px;border: none;max-width: 50vw;">
            <br>
            <label for="tel_no" style="font-family: sans-serif; font-size: 12px">Telefon Numarası</label>
            <br>
            <input id="tel_no" value="{{ current_user.user_information.tel_no }}" name="tel_no" type="text" style="width: 300px;padding: 5px;font-family: sans-serif;outline: none;font-size: 1.2rem;border-radius: 5px;border: none;max-width: 50vw;">
            <br>
            <br>
        </div>
        <div style="display: inline-block;width: auto;vertical-align: top;" id="second-right">
            <label for="id_no" style="font-family: sans-serif; font-size: 12px">TC Kimlik No</label>
            <br>
            <input id="id_no" value="{{current_user.user_information.tc_kimlik_no}}" name="id_no" type="text" style="width: 300px;padding: 5px;font-family: sans-serif;outline: none;font-size: 1.2rem;border-radius: 5px;border: none;max-width: 50vw;">
            <br>
            <label for="dob" style="font-family: sans-serif; font-size: 12px">Doğum Tarihi</label>
            <br>
            <input id="dob" value="{{current_user.user_information.date_of_birth}}" name="dob" type="date" style="width: 300px;padding: 5px;font-family: sans-serif;outline: none;font-size: 1.2rem;border-radius: 5px;border: none;max-width: 50vw;">
            <br>
            <label for="address">Adres</label><br>
            <textarea name="address" id="address" style="width: 300px;height: 75px;max-width: 50vw;">{{current_user.user_information.address}}</textarea>
        </div>
    </div>
      <br>
    <center><button style="color: white;font-family: sans-serif;width: 90%;padding: 10px;box-sizing: border-box;background-color: var(--baseColor);outline: none;border: none;max-width: 50vw;" type="submit">Güncelle</button></center>
      <br>
      <br>
      <center>All right reserved. © Grand Casino<p>2024</p></center>

      <script>
          let step = 1
          function proceedForm(){
              if(step === 2){
                  document.getElementsByTagName("form")[0].submit()
              }
              document.getElementById("step-1").style.display = "none";
              document.getElementById("step-2").style.display = "block";
              step = 2
          }
      </script>
  </form>
            </div>
        </div>
        <div id="withdraw-money" class="division-profile" style="display: none">
            <center>
                <br>
                <div style="background-color: var(--baseColor); font-family: 'Open Sans', sans-serif; color: white; padding: 10px; width: 90%; text-align: left; margin-top: 25px" id="fill-profile-box">
                    <p>
                        Para Çek
                    </p>
                </div>
            </center>
            <div style="background-color: var(--categoryBackground); width: fit-content; box-sizing: border-box;  margin-top: 50px">
                <div style="width: 98%; max-width: 70vw; white-space: nowrap; overflow-x: auto; text-align: left">
                    {% for i in available_manual_accounts %}
                        <div onclick="document.getElementById('withdraw_type_{{i.id}}').value = '{{ i.payment_type }}'; this.style.opacity = 0.3; let withdraw_methods = document.getElementsByClassName('searchable-div'); document.getElementById('form_{{ i.id }}').style.display = 'block'; for(let i = 0; i < withdraw_methods.length; i++){withdraw_methods[i].onclick = function(){console.log('cannot change payment type')}}" class="searchable-div" style="background-color: var(--backgroundDark); min-width: fit-content; padding: 15px; border-radius: 15px; display: inline-block; margin-left: 15px; margin-bottom: 15px">
                            <p id="{{ i.payment_type }}" style="font-family: 'Open Sans', sans-serif; color: white; font-size: 16px; margin-bottom: 5px; overflow-x: auto; width: 150px; max-width: 30vw; white-space: nowrap">{{ i.payment_type.capitalize() }} Çekim Talebi</p>
                        </div>
                      {% endfor %}
                      {% for key, item in available_withdraw_methods.items() %}
                        <div onclick="document.getElementById('withdraw_type_{{item}}').value = '{{ item }}'; this.style.opacity = 0.3; let withdraw_methods = document.getElementsByClassName('searchable-div'); document.getElementById('form_{{ item }}').style.display = 'block'; for(let i = 0; i < withdraw_methods.length; i++){withdraw_methods[i].onclick = function(){console.log('cannot change payment type')}}" class="searchable-div" style="background-color: var(--backgroundDark); min-width: fit-content; padding: 15px; border-radius: 15px; display: inline-block; margin-left: 15px; margin-bottom: 15px">
                            <p id="{{ item }}" style="font-family: 'Open Sans', sans-serif; color: white; font-size: 16px; margin-bottom: 5px; overflow-x: auto; width: 150px; max-width: 30vw; white-space: nowrap">{{ key }}</p>
                        </div>
                      {% endfor %}
                </div>
                {% for i in available_manual_accounts %}
                <form method="post" id="form_{{ i.id }}" enctype="multipart/form-data" style="background-color: var(--categoryBackground); border-radius: 5px; color: white; box-sizing: border-box; width: fit-content; height: fit-content; max-width: 70vw; display: none">
                    <h1 style="color: white; font-family: 'Open Sans', sans-serif">
                      Para Çek
                    </h1>
                    <input type="text" name="form-type" value="withdraw-money" style="display: none">
                    <input type="text" name="withdraw_type" style="display: none" id="withdraw_type_{{i.id}}">
                    <label for="amount" style="font-family: sans-serif; font-size: 12px">Çekmek İstenen Miktar</label>
                    <br>
                    <input id="amount" name="amount" type="text" style="width: 300px; max-width: 90%; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
                    <br>
                    <br>
                    <label for="iban" style="font-family: sans-serif; font-size: 12px">Hesap Adresi</label>
                    <br>
                    <textarea id="iban" name="iban"  style="width: 300px; max-width: 90%; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem; height: 80px"></textarea>
                    <br>
                    <br>
                    <button style="color: white; font-family: sans-serif; width: 100%; padding: 10px; box-sizing: border-box; background-color: var(--baseColor); outline: none; border: none">Para Çek</button>
                </form>
                {% endfor %}
                {% for key, item in available_withdraw_methods.items() %}
                <form method="post" id="form_{{ item }}" enctype="multipart/form-data" style="background-color: var(--categoryBackground); border-radius: 5px; color: white; box-sizing: border-box; width: fit-content; height: fit-content; max-width: 70vw; display: none">
                    <h1 style="color: white; font-family: 'Open Sans', sans-serif">
                      Para Çek
                    </h1>
                    <input type="text" name="form-type" value="withdraw-money" style="display: none">
                    <input type="text" name="withdraw_type" style="display: none" id="withdraw_type_{{item}}">
                    <label for="amount" style="font-family: sans-serif; font-size: 12px">Çekmek İstenen Miktar</label>
                    <br>
                    <input id="amount" name="amount" type="text" style="width: 300px; max-width: 90%; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
                    <br>
                    <br>
                    <label for="iban" style="font-family: sans-serif; font-size: 12px">Hesap Adresi</label>
                    <br>
                    <textarea id="iban" name="iban"  style="width: 300px; max-width: 90%; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem; height: 80px"></textarea>
                    <br>
                    <br>
                    <button style="color: white; font-family: sans-serif; width: 100%; padding: 10px; box-sizing: border-box; background-color: var(--baseColor); outline: none; border: none">Para Çek</button>
                </form>
                {% endfor %}
            </div>
            <br>
            <br>
            <div style="width: 80%; background-color: var(--baseColor); color: white; text-align: left; padding: 10px">
                Geçmiş İşlemler
            </div>
            {% for i in withdrawal_requests %}
                <div style="width: 80%; background-color: var(--backgroundDark); color: white; text-align: left; padding: 10px">
                    {{ i.withdrawal_amount }}₺: {{ i.status }}
                </div>
            {% endfor %}
        </div>
        {% if current_user.site_partner %}

            <div id="partnership" class="division-profile" style="display: block">
                <center>
                    <br>
                    <div style="background-color: var(--baseColor); font-family: 'Open Sans', sans-serif; color: white; padding: 10px; width: 90%; text-align: left; margin-top: 25px">
                        <p>
                            Kasa İşlemleri
                        </p>
                    </div>
                </center>
                <div style="background-color: var(--categoryBackground); width: fit-content; box-sizing: border-box;  margin-top: 50px">
                    <p style="background-color: gray; padding: 5px; border-radius: 5px; color: white"><span id="current-website"></span>/?ref={{ current_user.reference_code }}</p>
                    <h3 style="color: var(--generalTextColor)">Partner Statüsü: {{ current_user.site_partner.partnership_status }}</h3>
                    <h3 style="color: var(--generalTextColor)">Komisyon Oranı: %{{ current_user.site_partner.commission_rate }}</h3>
                    <h3 style="color: var(--generalTextColor)">Kasa Bakiyesi: {{'%0.2f'| format(current_user.site_partner.partnership_balance|float)}}₺</h3>
                    <h3 style="color: var(--generalTextColor)">Kasa Kazancı: {{'%0.2f'| format(current_user.site_partner.partnership_earnings|float)}}₺</h3>
                    <script>
                        document.getElementById("current-website").innerHTML = window.location.origin;
                    </script>
                </div>
                <br>
                <br>
            </div>
        {% endif %}
        <div id="previous-competitions" class="division-profile" style="display: none">
            <h1 style="color: white; text-align: left; font-family: 'Open Sans', sans-serif; width: 80%">Geçmiş Kadrolar</h1>
            {% if current_user.previous_drafts|length == 0%}
                <p style="color: white; text-align: left; margin-left: 10%">Henüz geçmiş bir kadro yok</p>
            {% endif %}
            {% for i in current_user.previous_drafts %}
            <h1 onclick="document.location = '/competition/{{ i.competition.id }}'" style="font-family: 'Open Sans', sans-serif; text-decoration: underline; background-color: var(--baseColor); color: white; box-sizing: border-box; padding: 10px; width: 80%; margin-bottom: 0; margin-top: 50px; border-radius: 15px 15px 0 0">{{ i.draft_name }}</h1>
                <div style="background-color: white; width: 80%; margin-top: 0; background-image: url('/static/saha.jpg'); background-size: cover; background-position: center 0;">
                    {% for i in i.chosen_athletes %}
                        <div style="border-top: 1px solid gray; padding: 10px; box-sizing: border-box; color: white; background: rgba(0,0,0,0.5); width: 100%; height: 100%">
                            <img style="float: left; width: 25px; margin-right: 15px" src="/static/{{ i.athlete.team_name }}.png"><span style="float: left; margin-top: 2px">{{ i.athlete.athlete_name }}</span>
                            <span style="float: right; margin-top: 2px">
                                Puanı: {{ i.current_points | int }}
                            </span>
                            <br>
                        </div>
                    {% endfor %}
                    <div style="background-color: white; border-top: 1px solid gray; padding: 10px; box-sizing: border-box">
                        <span style="float: left; margin-top: 2px">Toplam Kadro Puanı: </span>
                        <span style="float: right; margin-top: 2px">
                            {{ i.total_points | int }}
                        </span>
                        <br>
                    </div>
                    <div style="background-color: white; border-top: 1px solid gray; padding: 10px; box-sizing: border-box">
                        <span style="float: left; margin-top: 2px">Sıralama: </span>
                        <span style="float: right; margin-top: 2px">
                            {{ i.current_rank | int }}
                        </span>
                        <br>
                    </div>
                    <div style="background-color: white; border-top: 1px solid gray; padding: 10px; box-sizing: border-box">
                        <span style="float: left; margin-top: 2px">Alınan Ödül: </span>
                        <span style="float: right; margin-top: 2px">
                            {{"{:,.2f}".format(i.current_prize|float)}}₺
                        </span>
                        <br>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="deposit-money" style="display: none" class="division-profile">
            <h1 style="font-family: 'Open Sans', sans-serif; color: white">Para Yatır</h1>

            <div id="deposit-options-div">
                {% for i in available_manual_accounts %}
                    <div onclick="document.getElementById('manual_deposit_{{ i.id }}').style.display = 'block'; document.getElementById('deposit-options-div').style.display = 'none'" style="display: inline-block" class="select-payment">
                        <div style="border-radius: 15px 15px 0 0; font-family: sans-serif; height: fit-content; padding: 15px; display: inline-block; margin: 15px; background: #333333; box-sizing: border-box; width: 200px">
                            <img src="/img/payment_methods/{{ i.payment_type.lower() }}.jpg" style="width: 150px; border-radius: 15px" alt="">
                        </div>
                        <div style="color: white; font-family: 'Open Sans', sans-serif; background-color: var(--baseColor); width: 200px; margin-top: -15px; padding: 10px; box-sizing: border-box; border-radius: 0 0 15px 15px">
                            {{ i.payment_type.capitalize() }} Yatırım Talebi
                        </div>
                    </div>
                {% endfor %}
                {% for key, item in available_withdraw_methods.items() %}
                    <div onclick="document.getElementById('deposit_type_{{ item }}').value = '{{ item }}'; this.style.opacity = 0.3; let withdraw_methods = document.getElementsByClassName('searchable-div'); document.getElementById('deposit_form_{{ item }}').style.display = 'block'; for(let i = 0; i < withdraw_methods.length; i++){withdraw_methods[i].onclick = function(){console.log('cannot change payment type')}}; document.getElementById('deposit-options-div').style.display = 'none'" style="display: inline-block" class="select-payment">
                        <div style="border-radius: 15px 15px 0 0; font-family: sans-serif; height: fit-content; padding: 15px; display: inline-block; margin: 15px; background: #333333; box-sizing: border-box; width: 200px">
                            <img src="/img/payment_methods/{{ item.replace('kralpay_', '').replace('vevopay_', '') }}.jpg" style="width: 150px; border-radius: 15px" alt="">
                        </div>
                        <div style="color: white; font-family: 'Open Sans', sans-serif; background-color: var(--baseColor); width: 200px; margin-top: -15px; padding: 10px; box-sizing: border-box; border-radius: 0 0 15px 15px">
                            {{ key }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>

            {% for i in available_manual_accounts %}
                <iframe style="display: none; width: 70vw; height: 40vw;" src="/deposit/{{ i.payment_type }}" id="manual_deposit_{{ i.id }}" frameborder="0"></iframe>
            {% endfor %}

            {% for key, item in available_withdraw_methods.items() %}
                <form method="post" id="deposit_form_{{ item }}" enctype="multipart/form-data" style="background-color: #292d30; border-radius: 5px; color: white; box-sizing: border-box; width: fit-content; height: fit-content; max-width: 70vw; display: none; padding: 15px;">
                    <br>
                    <h3 style="color: white; font-family: 'Open Sans', sans-serif">
                      {{ key }} ile para yatır
                    </h3>
                    <br>
                    {% if item == "kralpay_banka" %}
                    <select name="bank_id" style="width: 300px; max-width: 90%; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem; border: 1px solid white; background-color: transparent; color: white; -webkit-appearance: none;">
                        <option value="no-bank">Banka Seçin</option>
                        {% for key, item in bank_banks.items() %}
                            <option value="{{item}}">{{ key }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <br>
                    <input type="text" name="form-type" value="deposit-money" style="display: none">
                    <input type="text" name="deposit_type" style="display: none" id="deposit_type_{{ item }}">
                    <label for="amount" style="font-family: sans-serif; font-size: 12px">Yatırılacak Miktar</label>
                    <br>
                    <input id="amount" name="amount" type="text" style="width: 300px; max-width: 90%; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
                    <br>
                    <br>

                    <button style="color: white; font-family: sans-serif; width: 100%; padding: 10px; box-sizing: border-box; background-color: var(--baseColor); outline: none; border: none">Yatırım Yap</button>
                </form>
            {% endfor %}
        </div>

        <div id="papara-modal" class="modal">

          <div class="modal-content">
            <iframe id="deposit-id" style="width: 100%; height: 500px; border: none" src="/deposit/papara">

            </iframe>
          </div>

        </div>
        <style>
            .modal {
              display: none;
              position: fixed;
              z-index: 1;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: rgb(0,0,0);
              background-color: rgba(0,0,0,0.4);
            }
            .modal-content {
                background-color: #222;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: fit-content;
            }

            .close {
              color: #aaa;
              float: right;
              font-size: 28px;
              font-weight: bold;
            }

            .close:hover,
            .close:focus {
              color: black;
              text-decoration: none;
              cursor: pointer;
            }
        </style>
    </center>
        <script src="//code.tidio.co/6sibsyjb7qcqlirjvzar5yfkqjjk6ips.js" async></script>
    <script>
        function changeDivision(changeTo, clickElem){
            let all_divs = document.getElementsByClassName("division-profile");
            let all_navbar = document.getElementsByClassName("navbar-item");
            for(let i = 0; i < all_navbar.length; i++){
                all_navbar[i].style.opacity = 1;
            }
            for(let i = 0; i < all_divs.length; i++){
                all_divs[i].style.display = "none";
            }
            clickElem.style.opacity = 0.5;
            document.getElementById(changeTo).style.display = "block";
        }
    </script>
    <br>
    <span style="opacity: 0">Grand Casino</span>
    </div>
</body>
</html>