<!DOCTYPE HTML>
<html lang="tr-TR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Grand Casino</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/fontawesome.min.css" />
	<link rel="stylesheet" href="/plugins/owl/owl.carousel.min.css" />
	<script src="//code.tidio.co/6sibsyjb7qcqlirjvzar5yfkqjjk6ips.js" async></script>
</head>
<body>
	<app-header>
		<app-home-header class="sticky-top">
			<div class="nav">
				<div class="logo"> <a href="/"> <img src="/img/logo.png" /> </a> </div>
				<div class="fast-links">
					<a href="#." class="btn"> <i class="km km-affiliate"></i> Affiliate </a>
					<a href="#." class="btn"> <i class="km km-call"></i> Sizi Arayalım </a>
					<a href="#." class="btn"> <i class="km km-whatsapp"></i> Whatsapp </a>
					<a href="#." class="btn"> <i class="km km-telegram"></i> Telegram </a>
					<a href="#." class="btn"> <i class="km km-twitter"></i> Twitter </a>
				</div>
				<div class="rightmenu">
					{% if not current_user.is_authenticated %}
					<app-not-loggedin>
							<a href="/login" class="btn login-btn"> <i class="fa-solid fa-right-to-bracket"></i> Giriş Yap </a>
							<a href="/signup" class="btn register-btn"> <i class="fa-solid fa-user-plus"></i> Kayıt Ol </a>
						<div class="lang-select">
							<div class="view"> <img src="/img/flag/tr.png" /> TR <i class="fa-solid fa-chevron-down"></i> </div>
						</div>
						<div class="timer" id="timer">
							16:40:50
						</div>
						<script>
							function setTimer(){
								var d = new Date();
								var n = d.toLocaleTimeString();
								document.getElementById("timer").innerText = n;
							}
							setInterval(setTimer, 1000)
						</script>
						<a href="#." class="notification"> <i class="fa-solid fa-bell"></i> </a>
					</app-not-loggedin>
					{% else %}
					<app-loggedin>
						<a href="#." class="btn price-btn"> <i class="fa-solid fa-turkish-lira-sign"></i>
							{% if current_user.sports_bonus_balance + current_user.casino_bonus_balance > 0 %}
								<span style="display: inline-block; vertical-align: middle">
									<p style="font-size: 12px; margin-bottom: 0; margin-block-start: 0; margin-block-end: 0;">{{'%0.2f'| format(current_user.balance|float)}}</p>
									<p style="font-size: 8px; color: var(--baseColor); margin-top: 0; margin-bottom: 0; margin-block-start: 0; margin-block-end: 0">{{'%0.2f'| format(current_user.casino_bonus_balance + current_user.sports_bonus_balance |float)}}</p>
								</span>
							{% else %}
								{{'%0.2f'| format(current_user.balance|float)}}
							{% endif %}
						</a>
						<a href="/profile" class="btn setting-btn"> <i class="fa-solid fa-gear"></i> </a>
						<a href="/notifications" class="btn notification-btn"> <i class="fa-regular fa-bell"></i> <div class="counter">0</div> </a>
						<a href="/profile" class="btn profile-btn"> <img src="/img/profile-demo.png" /> </a>
					</app-loggedin>
					{% endif %}
				</div>
			</div>
			<div class="menu-container">
				<div class="menu">
					<a href="/canli_bahis" class="n-link"> <i class="km km-live"></i> <span>CANLI BAHİS</span> </a>
					<a href="/bahis" class="n-link"> <i class="km km-sports"></i> <span>SPOR</span> </a>
					<a href="/casino" class="n-link"> <i class="km km-slot"></i> <span>SLOT</span> </a>
					<a href="/casino" class="n-link"> <i class="km km-live-casino"></i> <span>CANLI CASINO</span> </a>
					<a href="/fantezi" class="n-link"> <i class="km km-games"></i> <span>OYUNLAR</span> </a>
					<a href="/casino?search_query=bingo" class="n-link"> <i class="km km-tomb"></i> <span>TOMBALA</span> </a>
					<a href="/casino/1022357" class="n-link"> <i class="km km-aviator"></i> <span>AVIATOR</span> </a>
					<a href="/promotions" class="n-link"> <i class="km km-promotions"></i> <span>PROMOSYONLAR</span> </a>
				</div>
			</div>
		</app-home-header>
	</app-header>
	<app-content>
		<div class="container">
          <br>
			<div class="row">
                <img src="/img/{{ bonus.id }}.png" style="width: 400px; max-width: 95vw; display: inline-block; height: 200px;" alt="">
                <span style="color: white; display: inline-block; vertical-align: top; max-width: 800px; margin-top: 20px;">
                  {{ bonus.bonus_description | safe }}
                </span>
              <br style="clear: both; display: block">
                <button onclick="document.location = '/bonus_request?promotion_id={{ bonus.id }}'" href="/signup" style="border-radius: 15px; margin-top: 20px; color: var(--generalTextColor); background-color: var(--baseColor); border: none; padding: 15px;"> Talep Et </button>
            </div>
		</div>
	</app-content>
	<app-footer>
		<div class="footer">
			<div class="inner">
				<div class="fast-links">
					<a href="mailto:sales@m2betting.com" class="btn"> <i class="km km-affiliate"></i> Affiliate </a>
					<a href="/signup" class="btn"> <i class="km km-call"></i> Sizi Arayalım </a>
					<a href="#." class="btn"> <i class="km km-whatsapp"></i> Whatsapp </a>
					<a href="#." class="btn"> <i class="km km-telegram"></i> Telegram </a>
					<a href="#." class="btn"> <i class="km km-twitter"></i> Twitter </a>
				</div>
				<div class="details">
					<div class="col-2">
						<h3> Hakkımızda </h3>
						<ul>
							<li> <a href="/howtoplay"> Firma Bilgileri </a> </li>
							<li> <a href="#."> İletişim </a> </li>
							<li> <a href="#."> Yardım - SSS </a> </li>
						</ul>
					</div>
					<div class="col-2">
						<h3> ŞARTLAR VE KURALLAR </h3>
						<ul>
							<li> <a href="#."> Genel Kural ve Şartlar </a> </li>
							<li> <a href="#."> Gizlilik Politikası </a> </li>
							<li> <a href="#."> Sorumlu Oyun </a> </li>
						</ul>
					</div>
					<div class="col-2">
						<h3> GÖSTERİMLER </h3>
						<ul>
							<li> <a href="#."> Affiliate </a> </li>
							<li> <a href="/casino"> Turnuvalar </a> </li>
							<li> <a href="/bahis"> Maç Programı </a> </li>
						</ul>
					</div>
				</div>
				<div class="providers">
					<img src="/img/providers/desk.png" />
				</div>
				<div class="copy">
					<a href="#." class="licence-url"> <img src="/img/licence.png" /> </a>
					<p> Grand Casino.com is operated by M2 Betting registered under No. 164124 at, Chuchubiweg 17, Curaçao. This website is licensed and regulated by Curaçao eGaming, license No. 1668/JAZ.  In
	order to register for this website, the user is required to accept the “<a href="#.">General Terms and Conditions.</a>" In the event the ”<a href="#.">General Terms and Conditions</a>" are updated, existing users may choose to
	discontinue using the products and services before the said update shall become effective, which is a minimum of two weeks after it has been announced.  </p>
				</div>
				<div class="finish">
					<a href="/"> <img src="/img/logo.png" /> </a>
					<p> 2024 © Grand Casino </p>
				</div>
			</div>
		</div>
	</app-footer>
	<app-mobilemenu>
		<fast-menu>
			<div class="area">
				<div class="info"> <a href="/howtoplay"> <img src="/img/mobilemenu/i1.png" /> </a> </div>
				<div class="line"></div>
				<div class="livechat"> <a href="/contact"> <img src="/img/mobilemenu/i2.png" /> </a> </div>
			</div>
			<div class="mobile-menu">
				<a href="/fantezi"> <img src="/img/mobilemenu/i7.png" /> <span>Fantezi Futbol</span> </a>
				<a href="/bahis"> <img src="/img/mobilemenu/i4.png" /> <span>Spor</span> </a>
				<a href='/'> <img src="/img/mobilemenu/i3.png" /> <span>Anasayfa</span> </a>
				<a href="/canli_bahis"> <img src="/img/mobilemenu/i5.png" /> <span>Canlı Bahis</span> </a>
				<a href="/casino"> <img src="/img/mobilemenu/i6.png" /> <span>Casino</span> </a>
			</div>
		</fast-menu>
	</app-mobilemenu>C
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/plugins/owl/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>