<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <title>Üye Ol - KadroMilyon</title>
</head>
<body style="background-color: #222; padding: 0; margin: 0;">
    <div style="width: 100vw; height: 100vh; background-image: url('/static/be-signup.jpeg'); background-size: cover">
        <img src="/static/kadromilyon.png" alt="" style="width: 75px; padding: 20px; float: left; z-index: 999">
        <div style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5)">

        </div>
    </div>
  <form method="post" enctype="multipart/form-data" style="background-color: rgba(0,134,255,0.38); border-top: dodgerblue 5px solid; color: white; padding: 20px; box-sizing: border-box; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">
    <h1 style="color: white; font-family: 'Protest Guerrilla', sans-serif">
      Üye Ol
    </h1>

    <div id="step-1">
        <p style="font-family: sans-serif">Adım 1/2</p>
        <label for="username" style="font-family: sans-serif; font-size: 12px">Kullanıcı Adı</label>
        <br>
        <input id="username" name="username" type="text" style="width: 300px; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
        <br>
        <br>
        <label for="email" style="font-family: sans-serif; font-size: 12px">E-Posta</label>
        <br>
        <input id="email" name="email" type="text" style="width: 300px; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
        <br>
        <br>
        <label for="password" style="font-family: sans-serif; font-size: 12px">Şifre</label>
        <br>
        <input id="password" name="password" type="password" style="width: 300px; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
        <br>
        <br>
    </div>

    <div id="step-2" style="display: none">
        <p style="font-family: sans-serif">Adım 2/2</p>
        <label for="tel_no" style="font-family: sans-serif; font-size: 12px">Telefon Numarası</label>
        <br>
        <input id="tel_no" name="tel_no" type="text" style="width: 300px; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
        <br>
        <br>
        <label for="id_no" style="font-family: sans-serif; font-size: 12px">TC Kimlik No</label>
        <br>
        <input id="id_no" name="id_no" type="text" style="width: 300px; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
        <br>
        <br>
        <label for="dob" style="font-family: sans-serif; font-size: 12px">Doğum Tarihi</label>
        <br>
        <input id="dob" name="dob" type="date" style="width: 300px; padding: 5px; font-family: sans-serif; outline: none; font-size: 1rem">
        <br>
        <br>
    </div>
    <button style="color: white; font-family: sans-serif; width: 100%; padding: 10px; box-sizing: border-box; background-color: dodgerblue; outline: none; border: none" onclick="proceedForm()" type="button">Üye Ol</button>
      <script>
          let step = 1
          function proceedForm(){
              if(step === 2){
                  document.getElementsByTagName("form")[0].submit()
              }
              document.getElementById("step-1").style.display = "none";
              document.getElementById("step-2").style.display = "block";
              step = 2
          }
      </script>
  </form>
</body>
</html>