<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banka - Grand Casino</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/88bd62ac48.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,200" rel="stylesheet" type="text/css">
</head>
<body style="font-family: open sans, sans-serif; background-color: #222; overflow: hidden">
    <img id="iconmain" src="/img/logo.png" alt="" style="width: 200px; padding: 20px; float: left">
    <script>
        if(window.innerWidth < window.innerHeight){
            document.getElementById("iconmain").style.width = "50px";
        }
    </script>
    <br style="clear: both">
    <center>
        <p style="color: white; font-size: 2rem; margin-top: 5%">Bilgiler</p>
        <p style="width: 50%; color: white">IBAN No: TR200082900009491857243951</p>
        <p style="width: 50%; color: white">İsim Soyisim: Çağatay Burhan Aydoğdu</p>
        <p style="color: white; width: 50%">Yatırmak istediğin tutarı, hesabındaki isimle eşleşen bir banka hesabından gönder.</p>
    </center>
    <div style="color: black; width: 100%; position: absolute; text-align: center; bottom: 50px;">
        <p style="color: white">Grand Casino, LLC.</p>
    </div>
</body>
</html>