<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finished</title>
    <style>
        .hit-or-pass-button{
            background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
            font-size: 1.5rem;
            border-radius: 2px;
            color: #757575;
            font-weight: bold;
            width: 200px;
            padding: 7px 16px;
            margin: 0 2px;
            margin-top: 25px;
        }
    </style>
</head>
<body style="font-family: Helvetica">
    <center style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: fit-content; height: fit-content">
        <p style="color: white; font-size: 2rem; margin-top: 5%">Tebrikler, {{ winnings }} TL kazandın!</p>
        <br>
        <a href="/double" style="text-decoration: none; color: white"><button class="hit-or-pass-button" style="background: #3ddc84">Bir Daha Oyna</button></a>

    </center>
</body>
</html>