<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/3ea2aa69a8.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body style="background-color: transparent">
    <div class="container">

  <center>
      <br>
      <p>Aşağıdaki Formu Doldurun</p>
      <h1>Sizinle İrtibata Geçelim</h1>
      <form target="_blank" enctype="multipart/form-data" method="POST">

    <div class="form-group">

      <div class="form-row">

        <div class="col">

          <input type="text" name="name" class="form-control" placeholder="Firma ismi veya Ad Soyad" required>

        </div>

        <div class="col">

          <input type="email" name="email" class="form-control" placeholder="Email" required>

        </div>

      </div>

    </div>

    <div class="form-group">

      <textarea placeholder="Mesajınız" class="form-control" name="message" rows="10" required></textarea>
    </div>
          <div style="box-shadow: rgba(38,41,45,0.23) 1px 1px 1px 1px; width: fit-content; height: fit-content; box-sizing: border-box; border-radius: 15px; padding: 15px; display: inline-block">
            <i class="fa-brands fa-skype" style="color: dodgerblue; font-size: 4em"></i>
              <p style="margin-bottom: 5px">M2-Entertainment</p>
              <span style="font-weight: bolder;">Hızlı Destek Al</span>
          </div>
          <div style="box-shadow: rgba(38,41,45,0.23) 1px 1px 1px 1px; width: fit-content; height: fit-content; box-sizing: border-box; border-radius: 15px; padding: 15px; display: inline-block">
            <i class="fa-solid fa-envelope" style="color: dodgerblue; font-size: 4em"></i>
              <p style="margin-bottom: 5px">sales@m2betting.com</p>
              <span style="font-weight: bolder;">Hızlı Destek Al</span>
          </div>
          <br>
          <br>

    <button type="submit" class="btn btn-lg btn-dark btn-block">İletişime Geç</button>

  </form>
  </center>

</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</body>
</html>