<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Fantasy Sports and P2P Betting Provider - K/M Ultimate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;family=Protest+Guerrilla&amp;display=swap" rel="stylesheet">
    <style>
        body{
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body style="padding: 0; margin: 0; background-color: #191a1f">
  <div style="width: 100%; height: 60vh; min-height: fit-content; background-image: url('/provider-assets/km-cover.webp'); background-size: cover; position: relative">
      <div style="width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); position: absolute">

      </div>
    <div style="z-index: 999; position: absolute">
        <span style="font-family: 'Protest Guerrilla', sans-serif; margin-top: 25px; margin-left: 25px; display: inline-block; font-size: 2rem"><span style="color: #8000FF">K</span ><span style="text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;">/</span><span style="color: #4E0E8D">M</span> <span style="color: #1b1b1b; text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;">Ultimate</span></span>
        <span style="margin-left: 25px; color: white; font-size: 1.5rem; font-family: 'Protest Guerrilla', sans-serif">DFS</span>
      <span style="margin-left: 25px; color: white; font-size: 1.5rem; font-family: 'Protest Guerrilla', sans-serif">P2Bet</span>
    </div>
    <div style="font-family: 'Protest Guerrilla', sans-serif; color: white; position: absolute; top: 0; left: 50px; bottom: 0; margin: auto; width: fit-content; height: fit-content">
    <h1>
        Traditional casinos are so 2020.
        <br>
        Welcome to 2024.
    </h1>
    <p>Offer your players an experience without house edge but with high margins.</p>
    </div>
  </div>
  <div>
      <center style="margin-top: 50px">
          <h1 style="color: white; font-family: 'Protest Guerrila', sans-serif">
              Why K/M Ultimate?
          </h1>
          <div style="width: 80%; white-space: nowrap; overflow-x: auto">
          <center style="display: inline-block; border-radius: 15px; box-sizing: border-box; background-size: cover; width: 400px; background-color: #222; padding: 15px; padding-bottom: 20px">
              <div style="height: 200px; width: 150px; background-position: center; background-size: cover; border-radius: 15px; color: #3ddc84; font-family: 'Protest Guerrilla', sans-serif; font-size: 3rem; position: relative">
                  <span style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">30%+</span>
              </div>
              <br style="clear: both">
              <span style="color: white;">Highest profit margins in the industry</span>
          </center>
          <center style="display: inline-block; border-radius: 15px; box-sizing: border-box; background-size: cover; width: 400px; background-color: #222; padding: 15px; padding-bottom: 20px;">
              <div style="height: 200px; width: 150px; background-position: center; background-size: cover; border-radius: 15px; color: #3ddc84; font-family: 'Protest Guerrilla', sans-serif; font-size: 3rem; position: relative">
                  <span style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">0%</span>
              </div>
              <br style="clear: both">
              <span style="color: white;">0 risk with complete control over the price pool.</span>
          </center>
          <center style="display: inline-block; border-radius: 15px; box-sizing: border-box; background-size: cover; width: 400px; background-color: #222; padding: 15px; padding-bottom: 20px">
              <div style="height: 200px; width: 150px; background-position: center; background-size: cover; border-radius: 15px; color: #3ddc84; font-family: 'Protest Guerrilla', sans-serif; font-size: 3rem; position: relative">
                  <span style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">40%+</span>
              </div>
              <br style="clear: both">
              <span style="color: white;">Increased spending with high entertainment value.</span>
          </center>
          <center style="display: inline-block; border-radius: 15px; box-sizing: border-box; background-size: cover; width: 400px; background-color: #222; padding: 15px; padding-bottom: 20px">
              <div style="height: 200px; width: 150px; background-position: center; background-size: cover; border-radius: 15px; color: #3ddc84; font-family: 'Protest Guerrilla', sans-serif; font-size: 3rem; position: relative">
                  <span style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">50%+</span>
              </div>
              <br style="clear: both">
              <span style="color: white;">Attract new players by offering games of strategy.</span>
          </center>
          <center style="display: inline-block; border-radius: 15px; box-sizing: border-box; background-size: cover; width: 400px; background-color: #222; padding: 15px; padding-bottom: 20px">
              <div style="height: 200px; width: 150px; background-position: center; background-size: cover; border-radius: 15px; color: #3ddc84; font-family: 'Protest Guerrilla', sans-serif; font-size: 3rem; position: relative">
                  <span style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">0$</span>
              </div>
              <br style="clear: both">
              <span style="color: white;">We charge no upfront costs, you can start today.</span>
          </center>
      </center>
  </div>
  </div>
  <br>
  <br>
  <center>
      <h1 style="font-family: 'Protest Guerrila', sans-serif; color: white">
        Focusing on the strategy side of gambling.
      </h1>
      <br>
      <p style="color: white">
          Everybody want to make some extra money, however not everybody trusts their luck, start offering games focused on strategy on your igaming business today.
      </p>
      <br>
      <div style="width: 80%; white-space: nowrap; overflow-x: auto">
          <center style="display: inline-block; border-radius: 15px; box-sizing: border-box; background-size: cover; width: 900px; background-color: #222; padding: 15px; padding-bottom: 20px">
              <div style="height: 200px; width: 150px; background-position: center; background-size: cover; border-radius: 15px; color: #3ddc84; font-family: 'Protest Guerrilla', sans-serif; font-size: 3rem; position: relative">
                  <span style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">DFS</span>
              </div>
              <br style="clear: both">
              <span style="color: white;">Players build a team of real-life athletes and compete against other players in a single day or week-long contest.</span>
          </center>
          <center style="display: inline-block; border-radius: 15px; box-sizing: border-box; background-size: cover; width: 900px; background-color: #222; padding: 15px; padding-bottom: 20px">
              <div style="height: 200px; width: 150px; background-position: center; background-size: cover; border-radius: 15px; color: #3ddc84; font-family: 'Protest Guerrilla', sans-serif; font-size: 3rem; position: relative">
                  <span style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: fit-content; height: fit-content">P2Bet</span>
              </div>
              <br style="clear: both">
              <span style="color: white;">A platform enabling user-driven betting with customizable odds to bookmakers.</span>
          </center>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div style="width: 100%; background-color: #222222; padding: 25px; box-sizing: border-box">
          <p style="color: white">Contact us today to start offering strategy based player to player games without house edge but with margins.</p>
          <h1 style="font-family: 'Protest Guerrila', sans-serif; color: white">contact@kadromilyon.com</h1>
          <p style="color: gray;">651 N Broad St, Middletown, New Castle, DE, USA.</p>
          <p style="color: gray;">Licensing isn't required to offer DFS on your website for most jurisdictions and P2Bet is exempt from regulation in some countries.</p>
      </div>
  </center>

</body>
</html>